﻿@model DreamPlace.Web.Beepbooking.Models.Order
@{
	ViewData["Title"] = "Create";
	Layout = "~/Views/Shared/_AuthedLayout.cshtml";
}
@*<h2>Create</h2>

	<h4>Order</h4>
	<hr />
	<div class="row">
		<div class="col-md-4">
			<form asp-action="Create">
				<div asp-validation-summary="ModelOnly" class="text-danger"></div>
				<div class="form-group">
					<label asp-for="Start" class="control-label"></label>
					<input asp-for="Start" class="form-control" />
					<span asp-validation-for="Start" class="text-danger"></span>
				</div>
				<div class="form-group">
					<label asp-for="End" class="control-label"></label>
					<input asp-for="End" class="form-control" />
					<span asp-validation-for="End" class="text-danger"></span>
				</div>
				<div class="form-group">
					<input type="submit" value="Create" class="btn btn-default" />
				</div>
			</form>
		</div>
	</div>*@
<section id="my_dv">
	<div class="container">
		<div class="row">
			<div class="col-sm-8 col-sm-offset-2 npd">
				<form asp-action="Create">
					<div asp-validation-summary="ModelOnly" class="text-danger"></div>
					<h2>Создать заказ</h2>
					<h3>Выберите тип автомобиля</h3>
					<div class="col-sm-6 npd">
						<select  asp-for="CityId" asp-items="Model.CitiesView"></select>
					</div>
					@*<div class="col-sm-6 npd">
							<select>
								<option>Бюджетный вариант</option>
								<option>Бюджетный вариант</option>
								<option>Бюджетный вариант</option>
							</select>
						</div>*@
					<div style="clear: both;"></div>
					<h3>Выберите город</h3>
					<div class="col-sm-6 npd">
						<select asp-for="CarTypeId" asp-items="Model.CarTypesView"></select>
					</div>
					@*<select>
							<option>Бюджетный вариант</option>
							<option>Бюджетный вариант</option>
							<option>Бюджетный вариант</option>
						</select>*@
					<h3>На какие даты планируете аренду?</h3>
					<div class="col-sm-11 npd">
						<div class='input-group date' id='datestart'>
							<input asp-for="Start" type='text' class="form-control" />
							<span class="input-group-addon">
							</span>
						</div>
						<div class='input-group date' id='dateend'>
							<input asp-for="End" type='text' class="form-control" />
							<span class="input-group-addon">
							</span>
						</div>
						<style>
							.date {
								float: left;
								width: 50%;
								margin: 0;
							}

								.date input {
									width: 95% !important;
								}

							.input-group-addon {
								display: none;
							}
						</style>
					</div>
					<div class="col-sm-1 npd" id="date">
						<input type="text" style="text-align: center;">
					</div>
					<button type="submit" class="aqua">Найти авто</button>
					<button class="white">Отмена</button>
				</form>

				<script type="text/javascript">
					$(function () {
						$('#datestart, #dateend').datepicker({
							format: 'mm/dd/yyyy',
							language: 'ru'
						});
					});
					$('input').change(function () {
						var datestart = parseInt($('#datestart input').val());
						var dateend = parseInt($('#dateend input').val());
						var dayslays = dateend - datestart;
						if (!dayslays || dayslays < 0) { $('#date input').val(''); }
						else {
							$('#date input').val(dayslays + ' дней');
						}
					});
				</script>

			</div>
		</div>
	</div>
</section>