﻿@model IEnumerable<DreamPlace.Web.Beepbooking.Models.Order>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_AuthedLayout.cshtml";
}

<section id="my_dv">
<div class="container">
<div class="row">
	<h2>Новые заказы</h2>
	<h3>Обрабатывайте быстро новые заказы</h3>
	
	@{
		foreach (var item in Model)
		{
			<form asp-controller="Orders" asp-action="Accept" method="post" class="dv offer col-md-4 col-sm-6">
				<img src="img/ava2.png" alt="">
				<input id="Id" name="Id" type="hidden" value="@item.Id"/>
				<h1>@item.User.UserName</h1>
				<h3>@item.City.Name</h3>
				<h2>
					с @item.Start.ToShortDateString()
					до @item.End.ToShortDateString()
					(@item.End.Subtract(item.Start).Subtract(new TimeSpan(1, 0, 0, 0)).Days дней)<br>Самый дешевый вариант авто<br>Нужно срочно!!!
				</h2>
				<button type="submit" class="aqua">Принять</button>
				<button class="white">Отклонить</button>
			</form>
		}
	}
</div>
</div>
</section>

@*<h2>Index</h2>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Start)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.End)
                </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Start)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.End)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>*@
