﻿@model IEnumerable<DreamPlace.Web.Beepbooking.Models.Order>

@{
	ViewData["Title"] = "Index";
	Layout = "~/Views/Shared/_AuthedLayout.cshtml";
}

<section id="my_dv">
	<div class="container">
		<div class="row">
			<h2>Новые заказы</h2>
			<h3>Обрабатывайте быстро новые заказы</h3>

			@{
				foreach (var item in Model)
				{
					<div class="dv">
						<img src="img/car_min2.png" alt="" />
						<h1>Аренда авто</h1>
						<h2>
							C @item.Start.ToShortDateString() до @item.End.ToShortDateString()
							<span>(@item.End.Subtract(item.Start).Subtract(new TimeSpan(1, 0, 0, 0)).Days дней)</span>
							<a href="javascript:void(0);">Удалить</a>
						</h2>
						<h3><img src="img/loc.png" alt="">@item.City.Name</h3>
						<div style="clear:both;"></div>
					</div>
				}
			}
		</div>
	</div>
</section>
