﻿<!doctype html>
<html lang="en">
<head>
	<title></title>
	<meta charset="UTF-8" />
	<meta name="description" content="" />
	<meta name="keywords" content="" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />
	<link href="https://fonts.googleapis.com/css?family=Montserrat:300,400,400i,500,600,700|Open+Sans:300,400,400i,600,700|Oswald:200,300,400,500,600,700&amp;subset=cyrillic" rel="stylesheet">
	<link rel='stylesheet' href='/css/bootstrap.min.css' type='text/css' media='all'>
	<link rel='stylesheet' href='/css/style.css' type='text/css' media='all'>

	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.7.1/css/bootstrap-datepicker3.min.css" integrity="sha256-WgFzD1SACMRatATw58Fxd2xjHxwTdOqB48W5h+ZGLHA=" crossorigin="anonymous" />

	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
	<script src="/js/bootstrap.js"></script>

	<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.7.1/js/bootstrap-datepicker.js" integrity="sha256-7Ls/OujunW6k7kudzvNDAt82EKc/TPTfyKxIE5YkBzg=" crossorigin="anonymous"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.7.1/locales/bootstrap-datepicker.ru.min.js" integrity="sha256-iGDUwn2IPSzlnLlVeCe3M4ZIxQxjUoDYdEO6oBZw/Go=" crossorigin="anonymous"></script>
</head>
<body>

	<div class="menu" style="background: transparent; top:-10px;">
		<div class="container">
			<div class="row">
				<div class="col-md-2 col-sm-3 menu-logo col-xs-6">
					<img src="img/logo.png" alt="">
					<h3>ATENA</h3>
					<h5>RENTCAR</h5>
				</div>
				<div class="col-md-4 col-md-offset-6 col-sm-6 text-right menu-buttons col-xs-12">
					<button class="blue"><a href="javascript:void(0);">Создать заказ</a></button>
					<a href="#"><img src="/img/hellsbells.png" alt=""><sub>100</sub></a>
					<a href="#"><img src="/img/ava.png" alt=""><sub>100000</sub></a>
				</div>
			</div>
		</div>
	</div>

	<div class="menu_line">
		<div class="container">
			<div class="row">
				<ul>
					<li>Мои заказы</li>
					<li>Мой профиль</li>
					<li>Сообщения</li>
					<li>Заказы клиентов</li>
				</ul>
			</div>
		</div>
	</div>
	@RenderBody()


	<section id="footer">
		<div class="container">
			<div class="row" style="margin:0 -30px;">
				<div class="col-md-3 col-sm-5">
					<a href="javascript:void(0);">ПОЛИТИКА КОНФИДЕНЦИАЛЬНОСТИ</a>
				</div>
				<div class="col-sm-1">
					<a href="#">FAQ</a>
				</div>
				<div class="col-md-2 col-sm-3 col-sm-offset-3 col-md-offset-6 text-center dropup">
					<h6 type="button" data-toggle="dropdown">ЯЗЫК: <span>РУССКИЙ</span><span class="caret" style="color:#d7d7d7;top: -3px; left: 5px;"></span></h6>
					<ul class="dropdown-menu dropup">
						<li class="selected"><a href="#">РУССКИЙ</a></li>
						<li><a href="#">ENGLISH</a></li>
					</ul>
				</div>
			</div>
			<div class="row" style="margin:30px -30px;">
				<div class="col-md-4">
					<h5>© 2017 <span>BebeBooking</span> - Все права защищены.</h5>
				</div>
				<div class="col-md-2 col-md-offset-6 text-center">
					<div class="social">
						<div><img src="/img/fb.png" alt=""></div>
						<div><img src="/img/vk.png" alt=""></div>
						<div><img src="/img/insta.png" alt=""></div>
					</div>
				</div>
			</div>
		</div>
	</section>

	<!--
	<div style="width:100%; height:300%; position:absolute; top:0; left:0; z-index:-1; opacity:0.5; padding:300px 0; background: url(create.jpg) center top no-repeat;"></div>
	-->
	<script type="text/javascript">
		$(function () {
			$('#datestart, #dateend').datepicker({
				format: 'dd/mm/yyyy',
				language: 'ru'
			});
		});
		$('input').change(function () {
			var datestart = parseInt($('#datestart input').val());
			var dateend = parseInt($('#dateend input').val());
			var dayslays = dateend - datestart;
			if (!dayslays || dayslays < 0) { $('#date input').val(''); }
			else {
				$('#date input').val(dayslays + ' дней');
			}
		});
	</script>
</body>
</html>