﻿@model DreamPlace.Web.Beepbooking.Models.Order
@{
	ViewData["Title"] = "Create";
	Layout = "~/Views/Shared/_AuthedLayout.cshtml";
}

<section id="my_dv">
	<div class="container">
		<div class="row">
			<div class="col-sm-8 col-sm-offset-2 npd">
				<form asp-action="Create">
					<div asp-validation-summary="ModelOnly" class="text-danger"></div>
					<h2>Создать заказ</h2>
					<div class="row">
						<div class="col-sm-6">
							<h3>Выберите тип автомобиля</h3>
							<div class="col-sm-6 npd">
								<select asp-for="CarTypeId" asp-items="Model.CarTypesView"></select>
							</div>
						</div>
						<div class="col-sm-6">
							<h3>Выберите ваш бюджет</h3>
							<div class="col-sm-6 npd">
								<select  asp-for="BudgetId" asp-items="Model.BudgetsView"></select>
							</div>
						</div>
						<div style="clear: both;"></div>
						<div class="col-xs-12">
							<h3>Напишите в каком городе хотите арендовать транспорт</h3>
							<select asp-for="CityId" asp-items="Model.CitiesView"></select>
							<h3>Впишите даты планируемой аренды?</h3>
							<div class="col-sm-11 npd">
								<div class='input-group date' id='datestart'>
									<input asp-for="Start" type='text' class="form-control" />
									<span class="input-group-addon">
									</span>
								</div>
								@*ToDo нужно исправить формат даты*@
								<div class='input-group date' id='dateend'>
									<input asp-for="End" type='text' class="form-control" />
									<span class="input-group-addon">
									</span>
								</div>
								<style>
									.date {
										float: left;
										width: 50%;
										margin: 0;
									}

									.date input {
										width: 95% !important;
									}

									.input-group-addon {
										display: none;
									}
								</style>
							</div>
							<div class="col-sm-1 npd" id="date">
								<input value="7 дней" type="text" style="text-align: center; padding: 0;">
							</div>

							<h3>Куда доставить автомобиль?</h3>
							<select  asp-for="PlaceId" asp-items="Model.PlacesView"></select>
							<button type="submit" class="aqua">Начать поиск</button>
							<button class="white">Отмена</button>
						</div>
					</div>
				</form>
			</div>
		</div>
	</div>
</section>

	<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.7.1/js/bootstrap-datepicker.js" integrity="sha256-7Ls/OujunW6k7kudzvNDAt82EKc/TPTfyKxIE5YkBzg=" crossorigin="anonymous"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.7.1/locales/bootstrap-datepicker.ru.min.js" integrity="sha256-iGDUwn2IPSzlnLlVeCe3M4ZIxQxjUoDYdEO6oBZw/Go=" crossorigin="anonymous"></script>

<script type="text/javascript">
	$(function() {
		$('#datestart').datepicker({
			format: 'dd MM DD yyyy',
			autoclose: true
		});
		$('#dateend').datepicker({
			format: 'dd MM DD yyyy',
			autoclose: true
		});
		$('#datestart').datepicker('setDate', '0');
		var date = new Date();
		var datepicker2 = ((date.getDate() + 6) ) +' '+ (date.getMonth()+1) + ' ' + (date.getDate() + 6) + ' ' + date.getFullYear();
		$('#dateend').datepicker('setDate', datepicker2);

	});

	$('input').change(function () {
		var datestart = parseInt($('#datestart input').val());
		var dateend = parseInt($('#dateend input').val());
		var dayslays = dateend - datestart;
		if (!dayslays || dayslays < 0) { $('#date input').val(''); }
		else {
			$('#date input').val(dayslays + ' дней');
		}
	});
</script>
