﻿@using DreamPlace.Web.Beepbooking.Models.ViewModels
@model DreamPlace.Web.Beepbooking.Models.ViewModels.FreeOrdersViewModel

<div class="dv offer col-md-4 col-sm-6">
	@if (string.IsNullOrEmpty(Model.User.ProgileImgUrl))
	{
		<img class="big-ava circle-img" src="/native/img/anyone.jpg" alt="">
	}
	else
	{
		<img class="big-ava circle-img" src="@Model.User.ProgileImgUrl" alt="">
	}

	<input id="Id_@Model.Id" name="Id" type="hidden" value="@Model.Id" />
	<input id="Message" name="Message" type="hidden" value="Order was accept @User.Identity.Name" />

	<h1>@Model.User.UserName</h1>
	<h3>@Model.City</h3>
	<h2>
		с @Model.Start.ToString("dd-MM-yyyy")
		до @Model.End.ToString("dd-MM-yyyy")
		<br>Количество дней: @((Model.End.Subtract(Model.Start)).Days+1)
		<br>Бюджет: @Model.Budget
		<br>Тип авто: @Model.CarType
		<br>Доставка: @Model.Place
	</h2>
	
		@if (User.IsInRole("userConfirmed"))
		{
			<button data-cid='@Model.Id' form="acceptform_@Model.Id" type="submit" class="aqua">Принять</button>
			<input id="orderId_@Model.Id" name="orderId" type="hidden" value="@Model.Id"/>
			<button data-cid='@Model.Id' form="rjectform_@Model.Id" class="white">Отклонить</button>
		}
</div>