﻿@model IEnumerable<DreamPlace.Web.Beepbooking.Models.Order>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_AuthedLayout.cshtml";
}
@*<iframe frameborder="0" allowtransparency="true" scrolling="no" src="https://money.yandex.ru/embed/donate.xml?account=410017121519.." width="508" height="187"></iframe>*@

<section id="my_dv">
	<div class="container">
		<div class="row">
			@if (Model.Any())
			{
				<h2>Новые заказы</h2>
			}
			@*<h3>Обрабатывайте быстро новые заказы</h3>*@	

			<div id="orders">
				@{
					if (!Model.Any())
					 {
						 <h3  style="width: auto; font-size: 2em; left: 15%">Заказов пока что нет, но не уходите далеко, скоро они появятся</h3>
					 }

					foreach (var item in Model)
								{
						<div class="dv offer col-md-4 col-sm-6">
							@if (string.IsNullOrEmpty(item.User.ProfilePhotoUrl))
							{
								<img class="big-ava circle-img"
									 data-route="/profile/item.User.UserName.Translit().Replace(' ', '-')"
								     src="/native/img/anyone.jpg" alt="">
							}
							else
							{
								<img class="big-ava circle-img" src="@item.User.ProfilePhotoUrl" alt="">
							}

							<input id="Id_@item.Id" name="Id" type="hidden" value="@item.Id"/>
							<input id="Message_@item.Id" name="Message" type="hidden" value="Order was accept @User.Identity.Name"/>

							<h1 data-route="/profile/item.User.UserName.Translit().Replace(' ', '-')" >@item.User.UserName</h1>
							<h3>@item.City.Name</h3>
							<h2>
								с @item.Start.ToString("dd-MM-yyyy")
								до @item.End.ToString("dd-MM-yyyy")
								<br>Количество дней: @((item.End.Subtract(item.Start)).Days+1)
								<br>Бюджет: @item.Budget.Name
								<br>Тип авто: @item.CarType.Name
								<br>Доставка: @item.Place.Name
							</h2>
							@if (User.IsInRole("userConfirmed"))
							{
								<button data-cid='@item.Id' type="submit" class="aqua">Принять</button>
								<input id="orderId_@item.Id" name="orderId" type="hidden" value="@item.Id"/>
								<button data-cid='@item.Id' class="white">Отклонить</button>
							}
						</div>
					}
				}
			</div>
		</div>
	</div>
</section>


@*<div class="modalx modal_delete_search">
	<h4>Удалить свой запрос на поиски транспорта</h4>
	<div class="modal_form">
		<h5><b>Напишите пожалуйста, почему вы удаляете заказ?</b></h5>
		<textarea placeholder="Я понял(а), что автомобиль мне не по карману..."></textarea>
		<div style="clear:both;"></div>
		<button><img src="img/attach.png" alt="" /></button>
		<button><img src="img/emoji.png" alt="" /></button>
	</div>
	<button class="white"><a href="javascript:modal_drop();">Отмена</a></button>
	<button class="blue"><a href="javascript:modal_drop();">Отправить</a></button>
</div>*@
<div class="overlay"></div>
<div style="box-shadow: -16px -7px 80px 0px rgba(0, 0, 0, 0.63);" class="modalx modal_msg">
	<h4>Отправить сообщение клиенту</h4>
	<div class="modal_form">
		<h5><b>Напишите подробнее условие и про оплату</b></h5>
		<textarea id="textAreaOrder" placeholder="Здравствуйте, есть машина на ваши дни. Доставка 200 ТНВ. С вас только депозит 5000 ТНВ и копия паспорта"></textarea>
		<div style="clear:both;"></div>
		@*<button><img src="img/attach.png" alt="" /></button>
		<button><img src="img/emoji.png" alt="" /></button>*@
		<h5><b>Предложите стоимость за сутки</b></h5>
		<input id="carCost" type="text" placeholder="800 ТНВ например">
	</div>
	<button class="white"><a href="javascript:modal_drop();">Отмена</a></button>
	<button data-cid="0" class="blue send_msg_modal"><a>Отправить</a></button>
</div>

<script>
			$("div.dv.offer.col-md-4").on('click',
		'h1',
		function() {
			var route = $(this).data('route');
			post(route, undefined, 'GET');
		});

			$("div.dv.offer.col-md-4").on('click',
		'img',
		function() {
			var route = $(this).data('route');
			post(route, undefined, 'GET');
		});
</script>

<script>
	function GetId(ths) {
		return ths.attr('data-cid');
	}
	function GetData(ths) {
		var cid = GetId(ths);
		return {
			orderId: $('#Id_' + cid).val()
		};
	}

	$("div.offer").on('click',
		'.white',
		function () {
			var data = GetData($(this));
			post('/Orders/Reject',data, 'POST');
		});

		$("div#orders").on('click',
		'.aqua',
		function () {
			var data = GetData($(this));

			var height = $('.modal_msg').height();
			$('.modal_msg').attr('style', 'margin-top:-' + height / 2 + 'px');
			$('.overlay, .modal_msg').addClass('active');

			$('.send_msg_modal').attr('data-cid', data.orderId);
		});

	$("div.modalx").on('click',
		'.blue.send_msg_modal',
		function() {
			var data = {
				"messageText": $('#textAreaOrder').val(),
				"cost": $('#carCost').val(),
				"orderId": $('.send_msg_modal').attr('data-cid')
			};
			console.log(data);
			post('/Orders/Accept', data, 'POST');
		});
</script>


<script>
function modal_call(type){
var height = $('.'+type).height();
$('.'+type).attr('style', 'margin-top:-'+height/2+'px');
$('.overlay, .'+type).addClass('active');
}
function modal_drop(){
$('.modalx').attr('style', 'margin-top:-1000px');
$('.overlay, .modalx').removeClass('active');
}
$('.overlay').click(function(){modal_drop();});
</script>


@*<script src="~/Scripts/jquery-3.2.1.min.js"></script>
    <script src="~/Scripts/jquery.signalR-2.2.2.js"></script>*@
    <script src="~/signalr/hubs"></script>
<script src="~/Scripts/orderSignalR.js"></script>

 @*<section id="my_dv">
<div class="container">
	<div class="row">
		<h2>Новые заказы</h2>
		<h3>Обрабатывайте быстро новые заказы</h3>
		
		
		<div class="dv offer col-md-4 col-sm-6">
			<img src="img/ava2.png" alt="">
			<h1>Света</h1>
			<h3>Пхукет</h3>
			<h2>
				С 29.11.17 10:00 до 12.12.17 10:00
				<br>Бюджет: по договоренности
				<br>Тип авто: Экономный вариант
				<br>Доставка: Патонг, The Htel Phuket
			</h2>
			<button class="aqua">Принять</button>
			<button class="white">Отклонить</button>
		</div>
		<div class="dv offer col-md-4 col-sm-6">
			<img src="img/ava2.png" alt="">
			<h1>Света</h1>
			<h3>Пхукет</h3>
			<h2>
				С 29.11.17 10:00 до 12.12.17 10:00
				<br>Бюджет: по договоренности
				<br>Тип авто: Экономный вариант
				<br>Доставка: Патонг, The Htel Phuket
			</h2>
			<button class="aqua">Принять</button>
			<button class="white">Отклонить</button>
		</div>
	</div>
	</div>
	</section>*@