﻿@model IEnumerable<DreamPlace.Web.Beepbooking.Models.Order>

@{
	ViewData["Title"] = "Index";
	Layout = "~/Views/Shared/_AuthedLayout.cshtml";
}

<section id="my_dv">
	<div class="container">
		<div class="row">
			@*<h2>Новые заказы</h2>
			<h3>Обрабатывайте быстро новые заказы</h3>*@
				@if (!Model.Any())
				{
					<button data-route="/Orders/Create" class="blue" style="width: auto; font-size: 2em; left: 40%">Создать заказ</button>
				}
			@{
				foreach (var item in Model)
				{
					<div id="myOrder_@item.Id" class="dv">
						<img src="/img/car_min2.png" alt="" />
						<h1>Аренда авто</h1>
						<h2>
							C @item.Start.ToShortDateString() до @item.End.ToShortDateString()
							<span>(@item.End.Subtract(item.Start).Subtract(new TimeSpan(1, 0, 0, 0)).Days дней)</span>
							<a class="seleteMyOrder" data-oid="@item.Id" href="javascript:void(0);">Удалить</a>
						</h2>
						<div>
							<h3><img src="/img/loc.png" alt="">@item.City.Name</h3>
							<h3 style="margin: 0 0 0 103px">Бюджет: @item.Budget.Name</h3>
							<h3 style="margin: 0 0 0 103px">Тип авто: @item.CarType.Name</h3>
							<h3 style="margin: 0 0 0 103px">Доставка: @item.Place.Name</h3>
							<div style="clear:both;"></div>
						</div>
					</div>
					<hr />
				}
			}
		</div>
	</div>
</section>
<script>

	$("div.row").on('click',
		'a.seleteMyOrder',
		function() {
			var cid = $(this).attr('data-oid');

			if (confirm('Вы уверены, что хотите удалить закза?')) {
				$.ajax({
					url: '/Orders/Delete',
					type: "POST",
					data: {
						id: cid
					},
					async: true,
					success: function () {
						alert("Удалено!");
						$('#myOrder_' + cid).detach();
					},
					error: function(jqXHR, textStatus, errorThrown) {
						alert('Ошибка, не удалось удалить переписку.');
						console.log(textStatus);
						console.log(jqXHR);

					}
				});
			}

		});


	var onSuccess = function(context){
		alert(context);
		console.log(context);
	};
</script>

@*<form class="dv"
						  data-ajax-begin="onBegin" data-ajax-complete="onComplete"
    data-ajax-failure="onFailed" data-ajax-success="onSuccess"
					      data-ajax="true" data-ajax-method="POST"
						  >*@
