﻿@using System.Collections.Generic
@using System.Linq
@using Microsoft.AspNetCore.Http
@using Microsoft.AspNetCore.Http.Authentication
@model LoginViewModel
@inject SignInManager<ApplicationUser> SignInManager

@{
    ViewData["Title"] = "Log in";
	    Layout = null;
}

<!doctype html>
<html lang="en">
<head>
	<title></title>
	<meta charset="UTF-8" />
	<meta name="description" content="" />
	<meta name="keywords" content="" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />
	<link href="https://fonts.googleapis.com/css?family=Montserrat:300,400,400i,500,600,700|Open+Sans:300,400,400i,600,700|Oswald:200,300,400,500,600,700&amp;subset=cyrillic" rel="stylesheet">
	<link rel='stylesheet' href='/css/bootstrap.min.css' type='text/css' media='all'>
	<link rel='stylesheet' href='/css/style.css' type='text/css' media='all'>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>
	
<script>
  window.fbAsyncInit = function() {
    FB.init({
      appId      : '137272616935165',
      cookie     : true,
      xfbml      : true,
      version    : '2.11'
    });
      
    FB.AppEvents.logPageView();   
      
  };

  (function(d, s, id){
     var js, fjs = d.getElementsByTagName(s)[0];
     if (d.getElementById(id)) {return;}
     js = d.createElement(s); js.id = id;
     js.src = "https://connect.facebook.net/en_US/sdk.js";
     fjs.parentNode.insertBefore(js, fjs);
   }(document, 'script', 'facebook-jssdk'));
</script>

<div class="menu">
	<div class="container">
		<div class="row">
			<div class="col-md-2 col-sm-3 menu-logo col-xs-6">
				<img src="img/logo.png" alt="">
				<h3>ATENA</h3>
				<h5>RENTCAR</h5>
			</div>
			<div class="col-md-2 col-sm-3 menu-rent  col-xs-6">
				<img src="img/car_mini.png" alt="">
				<h4>СДАТЬ СВОЁ АВТО</h4>
			</div>
			<div class="col-md-4 col-md-offset-4 col-sm-6 text-right menu-buttons col-xs-12">
				<button class="white"><a href="javascript:void(0);">Вход</a></button>
				<button class="black"><a href="javascript:void(0);">Регистрация</a></button>
			</div>
		</div>
	</div>
</div>

<section id="auth">
	<div class="container">
		<div class="row text-center">
			<div class="auth_pl">
				<h1>Войти в систему</h1>

				<h3>Выберите один из способов входа.</h3>

				<form method="post" action="/Account/ExternalLogin">
					<div>
						<p>
							<button type="submit" class="fb" name="provider" value="Facebook" title="Log in using your Facebook account">
								<img src="/img/fb_button.png" alt="" />
								With Facebook
							</button>

							<button class="ga" type="submit" name="provider" value="Google" title="Log in using your Google account">
								<img src="/img/g_button.png" alt="" />
								With Google +
							</button>
						</p>
					</div>
				</form>
				
				@*<form method="post" action="/Account/Login" novalidate="novalidate">
                <h4>Use a local account to log in.</h4>
                <hr>
                <div class="text-danger validation-summary-valid" data-valmsg-summary="true"><ul><li style="display:none"></li>
</ul></div>
                <div class="form-group">
                    <input class="form-control" type="email" data-val="true" data-val-email="The Email field is not a valid e-mail address." data-val-required="The Email field is required." id="Email" name="Email" value="">
                </div>
                <div class="form-group">
                    <label for="Password">Password</label>
                    <input class="form-control" type="password" data-val="true" data-val-required="The Password field is required." id="Password" name="Password">
                    <span class="text-danger field-validation-valid" data-valmsg-for="Password" data-valmsg-replace="true"></span>
                </div>
                <div class="form-group">
                    <div class="checkbox">
                        <label for="RememberMe">
                            <input type="checkbox" data-val="true" data-val-required="The Remember me? field is required." id="RememberMe" name="RememberMe" value="true">
                            Remember me?
                        </label>
                    </div>
                </div>
                <div class="form-group">
                    <button type="submit" class="btn btn-default">Log in</button>
                </div>
                <div class="form-group">
                    <p>
                        <a href="/Account/ForgotPassword">Forgot your password?</a>
                    </p>
                    <p>
                        <a href="/Account/Register">Register as a new user?</a>
                    </p>
                </div>
            <input name="__RequestVerificationToken" type="hidden" value="CfDJ8GFyLw2ahvxPm5IfKoX1PEP-BiKWgiH4ZJQQphpU-qNAmkyG5nEneRIlF2zV6FMY0vuzBYP6NHqXa628ycULxAmnDcN-r9xeNomkD-ewiTFoMV8M02udCKDjwnB1XDE0Ycu1kiUNrxJtqdfLzDMl7n0"><input name="RememberMe" type="hidden" value="false"></form>*@
			
				<!--<input name="__RequestVerificationToken" value="CfDJ8GFyLw2ahvxPm5IfKoX1PEO-Zh_BddX4jP-CPIFElu7XWPtmzKFBCgbFyRrc_JwFWHevVUc6nGqQzUUoo66KXU09XkvmRHTDPseytmwFGf9BngzGGr9BYvZPsYtIYIBh27X3DKG05w9RdYzaM9GOJoY" type="hidden">-->

				<h3 style="padding: 55px 0 25px;">или войдите в со своей электронной почты</h3>
				<form method="post" action="/Account/Login" novalidate="novalidate">
					<input id="Email" data-val="true" data-val-email="The Email field is not a valid e-mail address."
						   data-val-required="The Email field is required." name="Email" value="" placeholder="Email адрес">
					<input class="form-control" type="password" 
						   data-val="true" data-val-required="The Password field is required." id="Password" name="Password" placeholder="Пароль">
					<div class="col-xs-6 text-left npd">
						<input type="checkbox" value="true" data-val="true" data-val-required="The Remember me? field is required." id="RememberMe" name="RememberMe">
						<span>Запомнить меня</span>
					</div>
					<div class="col-xs-6 text-right npd">
						<a href="javascript:void(0);">Забыли пароль?</a>
					</div>
					<input type="submit" class="aqua" value="Вход">
					<h4>
						У вас нет учетной записи?
						<a href="#">Зарегистрируйтесь сейчас!</a>
					</h4>
				</form>
			</div>
		</div>
	</div>
</section>



<section id="footer">
	<div class="container">
		<div class="row" style="margin: 0 -30px;">
			<div class="col-md-3 col-sm-5">
				<a href="javascript:void(0);">ПОЛИТИКА КОНФИДЕНЦИАЛЬНОСТИ</a>
			</div>
			<div class="col-sm-1">
				<a href="#">FAQ</a>
			</div>
			<div class="col-md-2 col-sm-3 col-sm-offset-3 col-md-offset-6 text-center dropup">
				<h6 type="button" data-toggle="dropdown">ЯЗЫК: <span>РУССКИЙ</span><span class="caret" style="color: #d7d7d7; top: -3px; left: 5px;"></span></h6>
				<ul class="dropdown-menu dropup">
					<li class="selected"><a href="#">РУССКИЙ</a></li>
					<li><a href="#">ENGLISH</a></li>
				</ul>
			</div>
		</div>
		<div class="row" style="margin: 30px -30px;">
			<div class="col-md-4">
				<h5>© 2017 <span>BebeBooking</span> - Все права защищены.</h5>
			</div>
			<div class="col-md-2 col-md-offset-6 text-center">
				<div class="social">
					<div><img src="img/fb.png" alt="">
					</div>
					<div><img src="img/vk.png" alt="">
					</div>
					<div><img src="img/insta.png" alt="">
					</div>
				</div>
			</div>
		</div>
	</div>
</section>

<!--
<div style="width:100%; height:300%; position:absolute; top:0; left:0; z-index:-1; opacity:0.5; padding:300px 0; background: url(auth.jpg) center top no-repeat;"></div>
-->
</body>
</html>

@*@section Scripts {
    @await Html.PartialAsync("_ValidationScriptsPartial")
}*@
