﻿@using DreamPlace.Web.Beepbooking.Extensions
@model DreamPlace.Web.Beepbooking.Models.ApplicationUser
@if (string.IsNullOrEmpty(Model?.ProfilePhotoUrl))
{
	<img id="header-ava" class="middle-ava" src="/native/img/anyone.jpg" alt="" />

}
else
{
	<img data-route="/profile/@Model.UserName.Translit().Replace(' ', '-')" id="header-ava" class="mini-ava" src="@Model?.ProfilePhotoUrl" alt="">
}
<script>
	$("div.col-md-4.col-md-offset-6.col-sm-6.text-right.menu-buttons").on('click',
		'img',
		function () {
			var route = $(this).data('route');
			post(route, undefined, 'GET');
		});
</script>