﻿
@{
    Layout =  null;
}


<html lang="en-us" class=" js flexbox flexboxlegacy canvas canvastext webgl no-touch geolocation postmessage websqldatabase indexeddb hashchange history draganddrop websockets rgba hsla multiplebgs backgroundsize borderimage borderradius boxshadow textshadow opacity cssanimations csscolumns cssgradients cssreflections csstransforms csstransforms3d csstransitions fontface generatedcontent video audio localstorage sessionstorage webworkers applicationcache svg inlinesvg smil svgclippaths"
      style="">

<head>
	<meta charset="utf-8">
	<title>404 - FLAT</title>
	<meta name="description" content="Lorem ipsum dolor sit amet, consectetur adipiscing elit.">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta name="author" content="Madeon08">
	<link rel="shortcut icon" href="img/favicon.png">
	<link rel="stylesheet" href="http://cdn.themehelite.com/themeforest/404doz/css/style-flat.css">
	<script async="" src="//www.google-analytics.com/analytics.js"></script>
	<script src="http://cdn.themehelite.com/themeforest/404doz/js/modernizr.js"></script> </head>

<body>
<div id="container">
	<div class="overlay"></div>
	<div class="item-title">
		<div id="message">
			<p>ERROR 404 NOT FOUND</p>
			<p>You may have mis-typed the URL.</p>
			<p>Or the page has been removed.</p>
			<p>Actually, there is nothing to see here...</p>
			<p>Click on the links below to do something, Thanks!</p>
		</div>
		<div class="link-bottom">
			<a class="link-icon" href="/Home">
				<i class="icon ion-ios-home"></i>HOME</a>
			@*<a class="link-icon" href="mailto:someone@example.com">
				<i class="icon ion-ios-compose"></i> WRITE US</a>*@
		</div>
	</div>
</div>
<script src="https://code.jquery.com/jquery-1.12.3.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.3/jquery.easing.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
<script src="http://cdn.themehelite.com/themeforest/404doz/js/main-flat.js"></script>
<script>(function (i, s, o, g, r, a, m) { i['GoogleAnalyticsObject'] = r; i[r] = i[r] || function () { (i[r].q = i[r].q || []).push(arguments) }, i[r].l = 1 * new Date(); a = s.createElement(o), m = s.getElementsByTagName(o)[0]; a.async = 1; a.src = g; m.parentNode.insertBefore(a, m) })(window, document, 'script', '//www.google-analytics.com/analytics.js', 'ga'); ga('create', 'UA-60503361-1', 'auto'); ga('send', 'pageview');</script>
<!--[if lt IE 10]><script type="text/javascript" src="js/placeholder.js"></script><![endif]-->
</body>

</html>
