﻿@model IEnumerable<DreamPlace.Web.Beepbooking.Models.ApplicationUser>

@{
	Layout = null;//"~/Views/Shared/_Layout.cshtml";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
                <th>
                    @Html.DisplayNameFor(model => model.UserName)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Email)
                </th>
	        <th>
		        @Html.DisplayNameFor(model => model.EmailConfirmed)
	        </th>
                <th>
                    @Html.DisplayNameFor(model => model.AccessFailedCount)
                </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.UserName)
            </td>
	        <td>
		        @Html.DisplayFor(modelItem => item.Email)
	        </td>
	        <td>
		        @Html.DisplayFor(el=>item.EmailConfirmed)
	        </td>
            <td>
                @Html.DisplayFor(modelItem => item.AccessFailedCount)
            </td>
	        <td>
		        @if (!item.ConfirmedAccount)
		        {
			        <a asp-action="ConfirmAccount" asp-route-id="@item.Id">Confirm account</a>
		        }
		        <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
		        <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
		        <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
	        </td>
        </tr>
}
    </tbody>
</table>
</body>
</html>
