﻿
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_AuthedLayout.cshtml";
}
<section id="my_dv">
<div class="container">
<div class="row">
<div class="col-sm-8 col-sm-offset-2 npd">
	<h2>Создать заказ</h2>
	<h3>Выберите тип автомобиля</h3>
	<div class="col-sm-6 npd">
		<select>
			<option>Бюджетный вариант</option>
			<option>Бюджетный вариант</option>
			<option>Бюджетный вариант</option>
		</select>
	</div>
	<div style="clear:both;"></div>
	<h3>Выберите город</h3>
		<select>
			<option>Бюджетный вариант</option>
			<option>Бюджетный вариант</option>
			<option>Бюджетный вариант</option>
		</select>
	<h3>На какие даты планируете аренду?</h3>
	<div class="col-sm-11 npd">
	<div class='input-group date' id='datestart'>
		<input type='text' class="form-control" />
		<span class="input-group-addon">
		</span>
	</div>
	<div class='input-group date' id='dateend'>
		<input type='text' class="form-control" />
		<span class="input-group-addon">
		</span>
	</div>
	<style>
		.date{float:left; width:50%; margin:0;}
			.date input{width:95% !important;}
			.input-group-addon{display:none;}
	</style>
	</div>
	<div class="col-sm-1 npd" id="date">
	<input type="text" style="text-align:center;">
	</div>
	<button class="aqua">Найти авто</button>
	<button class="white">Отмена</button>
</div>
</div>
</div>
</section>