﻿@model ResetPasswordViewModel 
@inject SignInManager<ApplicationUser> SignInManager

@{
		Layout = "~/Views/Shared/_Layout.cshtml";
}
<title>Восстановление пароля</title>
<section id="auth">
	<div class="container">
		<div class="row text-center">
			<div class="auth_pl">
				<h3>Восстановление пароля</h3>
				<h2>Вам отправлено письмо, которое содержит ссылку для сброса пароля.</h2>
			</div>
		</div>
	</div>
</section>