﻿@using System.Collections.Generic
@using System.Linq
@using Microsoft.AspNetCore.Http
@using Microsoft.AspNetCore.Http.Authentication
@model LoginViewModel
@inject SignInManager<ApplicationUser> SignInManager

@{
    ViewData["Title"] = "Log in";
	    Layout = null;
}

<!doctype html>
<html lang="en">
<head>
	<title></title>
	<meta charset="UTF-8" />
	<meta name="description" content="" />
	<meta name="keywords" content="" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />
	<link href="https://fonts.googleapis.com/css?family=Montserrat:300,400,400i,500,600,700|Open+Sans:300,400,400i,600,700|Oswald:200,300,400,500,600,700&amp;subset=cyrillic" rel="stylesheet">
	<link rel='stylesheet' href='/css/bootstrap.min.css' type='text/css' media='all'>
	<link rel='stylesheet' href='/css/style.css' type='text/css' media='all'>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<script src="/js/http.js"></script>

</head>
<body>
<style>
	.field-validation-error {
		color: #b94a48;
	}
  
	.field-validation-valid {
		display: none;
	}
  
	input.input-validation-error {
		border: 1px solid #b94a48;
	}
  
	input[type="checkbox"].input-validation-error {
		border: 0 none;
	}
  
	.validation-summary-errors {
		color: #b94a48;
	}
  
	.validation-summary-valid {
		display: none;
	}
</style>
<script>
	window.fbAsyncInit = function() {
		FB.init({
			appId      : '137272616935165',
			cookie     : true,
			xfbml      : true,
			version    : '2.11'
		});
      
		FB.AppEvents.logPageView();   
      
	};

	(function(d, s, id){
		var js, fjs = d.getElementsByTagName(s)[0];
		if (d.getElementById(id)) {return;}
		js = d.createElement(s); js.id = id;
		js.src = "https://connect.facebook.net/en_US/sdk.js";
		fjs.parentNode.insertBefore(js, fjs);
	}(document, 'script', 'facebook-jssdk'));
</script>

<div class="menu">
	<div class="container">
		<div class="row">
			<div class="col-md-2 col-sm-3 menu-logo col-xs-6">
				<img src="/img/logo.png" alt="">
				<h3>ATENA</h3>
				<h5>RENTCAR</h5>
			</div>
			<div class="col-md-2 col-sm-3 menu-rent  col-xs-6">
				<img src="/img/car_mini.png" alt="">
				<h4>СДАТЬ СВОЁ АВТО</h4>
			</div>
			<div class="col-md-4 col-md-offset-4 col-sm-6 text-right menu-buttons col-xs-12">
				<button data-route="/Account/Login" class="white">
					Вход
				</button>
				<button data-route="/Account/Register" class="black">
					Регистрация
				</button>
			</div>
		</div>
	</div>
</div>

<section id="auth">
	<div class="container">
		<div class="row text-center">
			<div class="auth_pl">
				<h1>Восстановить пароль</h1>
				
				<h3 style="padding: 55px 0 25px;">Введите свою почту, на неё придет письмо для восстановления пароля</h3>
				<form method="post" asp-action="ForgotPassword" novalidate="novalidate">
					<div style="color: #b94a48;"asp-validation-summary="ModelOnly"></div>
					<span style="color: #b94a48;" data-valmsg-for="Email" data-valmsg-replace="true" asp-validation-for="Email"></span>
					<input asp-for="Email" id="Email" data-val="true" name="Email" value="" placeholder="Email адрес">

					<input type="submit" class="aqua" value="Восстановить пароль">
				</form>
			</div>
		</div>
	</div>
</section>
	
 @*<form asp-action="ForgotPassword" method="post">
            <div asp-validation-summary="All" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Email"></label>
                <input asp-for="Email" class="form-control" />
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
            <button type="submit" class="btn btn-default">Submit</button>
        </form>*@


<section id="footer">
	<div class="container">
		<div class="row" style="margin: 0 -30px;">
			<div class="col-md-3 col-sm-5">
				<a href="javascript:void(0);">ПОЛИТИКА КОНФИДЕНЦИАЛЬНОСТИ</a>
			</div>
			<div class="col-sm-1">
				@*<a href="#">FAQ</a>*@
			</div>
			<div class="col-md-2 col-sm-3 col-sm-offset-3 col-md-offset-6 text-center dropup">
				<h6 type="button" data-toggle="dropdown">ЯЗЫК: <span>РУССКИЙ</span><span class="caret" style="color: #d7d7d7; top: -3px; left: 5px;"></span></h6>
				<ul class="dropdown-menu dropup">
					<li class="selected"><a href="#">РУССКИЙ</a></li>
					<li><a href="#">ENGLISH</a></li>
				</ul>
			</div>
		</div>
		<div class="row" style="margin: 30px -30px;">
			<div class="col-md-4">
				<h5>© 2017 <span>BebeBooking</span> - Все права защищены.</h5>
			</div>
			<div class="col-md-2 col-md-offset-6 text-center">
				<div class="social">
					<div><img src="/img/fb.png" alt="">
					</div>
					<div><img src="/img/vk.png" alt="">
					</div>
					<div><img src="/img/insta.png" alt="">
					</div>
				</div>
			</div>
		</div>
	</div>
</section>

<!--
<div style="width:100%; height:300%; position:absolute; top:0; left:0; z-index:-1; opacity:0.5; padding:300px 0; background: url(auth.jpg) center top no-repeat;"></div>
-->
</body>
</html>

<script>
	$("div.col-md-4").on('click', 'button.black',
		function () {
			var route = $(this).data('route');
			post(route, undefined, 'GET');

		});
</script>

@*@section Scripts {
    @await Html.PartialAsync("_ValidationScriptsPartial")
}*@
