﻿@using System.Collections.Generic
@using System.Linq
@using Microsoft.AspNetCore.Http
@using Microsoft.AspNetCore.Http.Authentication
@model LoginViewModel
@using DreamPlace.Web.Beepbooking.Services.Route
@inject CustomLocalizer localizer
@*@inject SignInManager<ApplicationUser> SignInManager*@

@{
		Layout = "_Layout";
}
<style>
	.field-validation-error {
		color: #b94a48;
	}
  
	.field-validation-valid {
		display: none;
	}
  
	input.input-validation-error {
		border: 1px solid #b94a48;
	}
  
	input[type="checkbox"].input-validation-error {
		border: 0 none;
	}
  
	.validation-summary-errors {
		color: #b94a48;
	}
  
	.validation-summary-valid {
		display: none;
	}
</style>
<script>
	window.fbAsyncInit = function() {
		FB.init({
			appId      : '137272616935165',
			cookie     : true,
			xfbml      : true,
			version    : '2.11'
		});
      
		FB.AppEvents.logPageView();   
      
	};

	(function(d, s, id){
		var js, fjs = d.getElementsByTagName(s)[0];
		if (d.getElementById(id)) {return;}
		js = d.createElement(s); js.id = id;
		js.src = "https://connect.facebook.net/en_US/sdk.js";
		fjs.parentNode.insertBefore(js, fjs);
	}(document, 'script', 'facebook-jssdk'));
</script>

<section id="auth">
	<div class="container">
		<div class="row text-center">
			<div class="auth_pl">
				<h1>Войти в систему</h1>

				<h3>Выберите один из способов входа.</h3>

				<form method="post" action="/Account/ExternalLogin">
					<div>
						<p>
							@*<button type="submit" class="fb" name="provider" value="Facebook" title="Log in using your Facebook account">
								<img src="/img/fb_button.png" alt="" />
								With Facebook
							</button>*@

							<button class="ga" type="submit" name="provider" value="Google" title="Log in using your Google account">
								<img src="/img/g_button.png" alt="" />
								With Google +
							</button>
						</p>
					</div>
				</form>
				
				<h3 style="padding: 55px 0 25px;">или войдите в со своей электронной почты</h3>
				<form method="post" action="/Account/Login" novalidate="novalidate">
					<div style="color: #b94a48;"asp-validation-summary="ModelOnly"></div>
					<span style="color: #b94a48;" data-valmsg-for="Email" data-valmsg-replace="true" asp-validation-for="Email"></span>
					<input asp-for="Email" id="Email" data-val="true" name="Email" value="" placeholder="Email адрес">

					<span style="color: #b94a48;" data-valmsg-for="Email" data-valmsg-replace="true" asp-validation-for="Password"></span>
					<input type="password"
					       data-val="true" id="Password" name="Password" placeholder="Пароль">

					<div class="col-xs-6 text-left npd">
						<input type="checkbox" value="true" data-val="true" data-val-required="The Remember me? field is required." id="RememberMe" name="RememberMe">
						<span>Запомнить меня</span>
					</div>
					<div class="col-xs-6 text-right npd">
						<a href="/Account/ForgotPassword">Забыли пароль?</a>
					</div>
					<input type="submit" class="aqua" value="@localizer["SignIn"]">
					<h4>
						У вас нет учетной записи?
						<a href="/Account/Register">Зарегистрируйтесь сейчас!</a>
					</h4>
				</form>
			</div>
		</div>
	</div>
</section>
