﻿@model RegisterViewModel
@{
	ViewData["Title"] = "Register";
	Layout = null;
}
<!doctype html>
<html lang="en">
<head>
	<title></title>
	<meta charset="UTF-8" />
	<meta name="description" content="" />
	<meta name="keywords" content="" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />
	<link href="https://fonts.googleapis.com/css?family=Montserrat:300,400,400i,500,600,700|Open+Sans:300,400,400i,600,700|Oswald:200,300,400,500,600,700&amp;subset=cyrillic" rel="stylesheet">
	<link rel='stylesheet' href='/css/bootstrap.min.css' type='text/css' media='all'>
	<link rel='stylesheet' href='/css/style.css' type='text/css' media='all'>
		<script src="~/js/jquery.min.js"></script>
		<script src="/js/http.js"></script>
</head>
<body>

<script>
	window.fbAsyncInit = function () {
		FB.init({
			appId: '137272616935165',
			cookie: true,
			xfbml: true,
			version: '2.11'
		});

		FB.AppEvents.logPageView();

	};

	(function (d, s, id) {
		var js, fjs = d.getElementsByTagName(s)[0];
		if (d.getElementById(id)) { return; }
		js = d.createElement(s); js.id = id;
		js.src = "https://connect.facebook.net/en_US/sdk.js";
		fjs.parentNode.insertBefore(js, fjs);
	}(document, 'script', 'facebook-jssdk'));
</script>
<div class="menu">
	<div class="container">
		<div class="row">
			<div class="col-md-2 col-sm-3 menu-logo col-xs-6">
				<img src="/img/logo.png" alt="">
				<h3>ATENA</h3>
				<h5>RENTCAR</h5>
			</div>
			<div class="col-md-2 col-sm-3 menu-rent  col-xs-6">
				<img src="/img/car_mini.png" alt="">
				<h4>СДАТЬ СВОЁ АВТО</h4>
			</div>
			<div class="col-md-4 col-md-offset-4 col-sm-6 text-right menu-buttons col-xs-12">
				<button id="InBtn" class="white" data-route="/Account/Login"><a href="javascript:void(0);">Вход</a></button>
				<button id="SignInBtn" class="black" data-route="/Account/Register"><a>Регистрация</a></button>
			</div>
		</div>
	</div>
</div>
	
<script>
			$("div.col-md-4").on('click', 'button',
			function () {
				var route = $(this).data('route');
				post(route, undefined, 'GET');

			});
	</script>

<section id="auth">
	<div class="container">
		<div class="row text-center">
			<div class="auth_pl">
				<h1>Регистрация</h1>

				<h3>Выберите один из следующих способов регистрации.</h3>
				<form method="post" action="/Account/ExternalLogin">
					<div>
						<p>
							@*<button type="submit" class="fb" name="provider" value="Facebook" title="Log in using your Facebook account">
								<img src="/img/fb_button.png" alt="" />
								With Facebook
							</button>*@

							<button class="ga" type="submit" name="provider" value="Google" title="Log in using your Google account">
								<img src="/img/g_button.png" alt="" />
								With Google +
							</button>
						</p>
					</div>
				</form>
				<h3 style="padding: 55px 0 25px;">или используйте обычную регистрацию</h3>
				<form method="post" action="/Account/register">
					<span style="color: #b94a48;" data-valmsg-for="Name" data-valmsg-replace="true" asp-validation-for="Name"></span>
					<input asp-for="Name" placeholder="Как вас зовут?" type="text" data-val="true" id="Name" name="Name" value="">

					<span style="color: #b94a48;" data-valmsg-for="Email" data-valmsg-replace="true" asp-validation-for="Email"></span>
					<input asp-for="Email" placeholder="Ваш E-mail адрес" type="Email"id="Email" name="Email" value="">

					<span style="color: #b94a48;" data-valmsg-for="Email" data-valmsg-replace="true" asp-validation-for="Password"></span>
					<input asp-for="Password" placeholder="Пароль" type="password" data-val="true" id="Password" name="Password">

					<input type="submit" class="aqua" value="Перейти к поиску автомобиля">
					<h4>
						Регистрируясь, вы подтверждаете, что принимаете <br>
						<a href="#">политику конфиденциальнсоти</a>
					</h4>
					<h4>Уже зарегистрированы? <a href="/Account/Login">Войти</a></h4>
				</form>
			</div>
		</div>
	</div>
</section>



<section id="footer">
	<div class="container">
		<div class="row" style="margin:0 -30px;">
			<div class="col-md-3 col-sm-5">
				<a href="javascript:void(0);">ПОЛИТИКА КОНФИДЕНЦИАЛЬНОСТИ</a>
			</div>
			<div class="col-sm-1">
				@*<a href="#">FAQ</a>*@
			</div>
			<div class="col-md-2 col-sm-3 col-sm-offset-3 col-md-offset-6 text-center dropup">
				<h6 type="button" data-toggle="dropdown">ЯЗЫК: <span>РУССКИЙ</span><span class="caret" style="color:#d7d7d7;top: -3px; left: 5px;"></span></h6>
				<ul class="dropdown-menu dropup">
					<li class="selected"><a href="#">РУССКИЙ</a></li>
					<li><a href="#">ENGLISH</a></li>
				</ul>
			</div>
		</div>
		<div class="row" style="margin:30px -30px;">
			<div class="col-md-4">
				<h5>© 2017 <span>BebeBooking</span> - Все права защищены.</h5>
			</div>
			<div class="col-md-2 col-md-offset-6 text-center">
				<div class="social">
					<div><img src="/img/fb.png" alt=""></div>
					<div><img src="/img/vk.png" alt=""></div>
					<div><img src="/img/insta.png" alt=""></div>
				</div>
			</div>
		</div>
	</div>
</section>

<!--
<div style="width:100%; height:300%; position:absolute; top:0; left:0; z-index:-1; opacity:0.5; padding:300px 0; background: url(register.jpg) center top no-repeat;"></div>
-->
</body>
</html>

@section Scripts {
	@await Html.PartialAsync("_ValidationScriptsPartial")
}
