﻿@{
    ViewData["Title"] = "Reset password confirmation";
}

<title>Пароль успешно сброшен</title>
<section id="auth">
	<div class="container">
		<div class="row text-center">
			<div class="auth_pl">
				<h2> Ваш пароль успешно сброшен. Пожалуйста</h2>
				<hr/>
				<button id="InBtn" class="fb" data-route="/Account/Login">
					Кликните тут, чтобы войти
				</button>
			</div>
		</div>
	</div>
</section>