﻿@using DreamPlace.Web.Beepbooking.Models.ViewModels
@model DreamPlace.Web.Beepbooking.Models.ViewModels.UserProfileViewModel
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_AuthedLayout.cshtml";
}
<input id="files" type="file" name="files" style="display: none;"/>

<section id="client">

	<div   style="width: 100%; height: 100px" alt=""></div>

	<div id="client_info">
		<div class="container">
			@if (Model?.ProgileImgUrl == null
			     || !System.IO.File.Exists(System.IO.Path.Combine(Environment.CurrentDirectory,"wwwroot",Model?.ProgileImgUrl.Remove(0, 1))))
			{
				<div class="profile-img circle-img">
					<img class="circle-img" id="chooseImgAvatar" src="/img/profile.png" alt=""/>
				</div>
			}
			else
			{
				<div class="profile-img circle-img">
					<img id="chooseImgAvatar" src="@Model?.ProgileImgUrl" class="circle-img" alt="">
				</div>
			}
			<h2>@Model?.UserName</h2>

			<ul>
				<li>
					<h3>Email</h3>
					<h4>@Model?.Email</h4>
				</li>
				@*<li>
				<h3>Rent car online</h3>
				<h4>@Model.Www</h4>
			</li>
			<li>
				<h3>Телефон</h3>
				<h4>@Model.Phone</h4>
			</li>*@
			</ul>
		</div>
		</div>
</section>

@if (User.Identity.IsAuthenticated) { 
	<script>

		$('#chooseImgAvatar').click(function() {

			var isClick = true;

			function addPreview(data, fName) {

				if (!isClick)
					return;
				isClick = false;


				$('#chooseImgAvatar').attr("src", data);
				$('#chooseImgAvatar').attr("title", fName);

				$.ajax({
					url: '/api/Profile/MainImage',
					type: "POST",
					data: {
						imageData: data,
						imgName: fName
					},
					async: true,
					success: function() {

					},
					//beforeSend: function (xhr) {
					//	var token = window.localStorage.getItem("OtliAccessToken");
					//	xhr.setRequestHeader("Authorization", "Bearer " + token);
					//},
					error: function(jqXHR, textStatus, errorThrown) {
						alert('Ошибка, возможно ваше сообщение не доставленно получателю, пожалуйста, свяжитесь с администрацией');
						console.log(textStatus);
						console.log(jqXHR);

					}
				});
			}

			if (window.File && window.FileReader && window.FileList && window.Blob) {
				// Great success! All the File APIs are supported.
			} else {
				alert('Ваш браузер устарел и не поддерживает выбор файлов.');
			}

			function handleFileSelect(evt) {
				var files = evt.target.files; // FileList object

				for (var i = 0, f; f = files[i]; i++) {
					if (!f.type.match('image.*')) {
						continue;
					}


					var reader = new FileReader();

					reader.onload = (function(theFile) {
						return function(e) {
							addPreview(e.target.result, theFile.name);
						};
					})(f);
					reader.readAsDataURL(f);
				}
			}

			document.getElementById('files').addEventListener('change', handleFileSelect, false);

			$('#files').trigger('click');
		});


		$('#chooseImgBg').click(function() {

			var isClick = true;

			function addPreview(data, fName) {

				if (!isClick)
					return;
				isClick = false;


				$('#chooseImgBg').attr("src", data);
				$('#chooseImgBg').attr("title", fName);

				$.ajax({
					url: '/api/Profile/BackgroundImage',
					type: "POST",
					data: {
						imageData: data,
						imgName: fName
					},
					async: true,
					success: function() {

					},
					//beforeSend: function (xhr) {
					//	var token = window.localStorage.getItem("OtliAccessToken");
					//	xhr.setRequestHeader("Authorization", "Bearer " + token);
					//},
					error: function(jqXHR, textStatus, errorThrown) {
						alert('Ошибка, возможно ваше сообщение не доставленно получателю, пожалуйста, свяжитесь с администрацией');
						console.log(textStatus);
						console.log(jqXHR);

					}
				});
			}

			if (window.File && window.FileReader && window.FileList && window.Blob) {
				// Great success! All the File APIs are supported.
			} else {
				alert('Ваш браузер устарел и не поддерживает выбор файлов.');
			}

			function handleFileSelect(evt) {
				var files = evt.target.files; // FileList object

				for (var i = 0, f; f = files[i]; i++) {
					if (!f.type.match('image.*')) {
						continue;
					}


					var reader = new FileReader();

					reader.onload = (function(theFile) {
						return function(e) {
							addPreview(e.target.result, theFile.name);
						};
					})(f);
					reader.readAsDataURL(f);
				}
			}

			document.getElementById('files').addEventListener('change', handleFileSelect, false);

			$('#files').trigger('click');
		});
	</script>
}