﻿@using DreamPlace.Web.Beepbooking.Services.Route

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@inject CustomLocalizer localizer

<link rel='stylesheet' href='/css/new_style.css' type='text/css' media='all'>

<section class="confidence">
	<div class="container">
	<h1>Политика конфиденциальности</h1>
	<p>
		Предоставляя свои персональные данные Пользователь даёт согласие на обработку, хранение и использование своих персональных данных
	</p>
	<p>на основании ФЗ № 152-ФЗ«О персональных данных» от 27.07.2006 г. в следующих целях:</p>
	<p>Осуществление клиентской поддержки</p>
	<p>Получения Пользователем информации о маркетинговых событиях</p>
	<p>Проведения аудита и прочих внутренних исследований с целью повышения качества предоставляемых услуг.</p>
	<p>Под персональными данными подразумевается любая информация личного характера, позволяющая установить личность</p> 
	<p>Пользователя/Покупателя такая как:</p>
	<p>Фамилия, Имя, Отчество</p>
	<p>Дата рождения</p>
	<p>Контактный телефон</p>
	<p>Адрес электронной почты</p>
	<p>Почтовый адрес</p>
	<p>Персональные данные Пользователей хранятся исключительно на электронных носителях и обрабатываются с использованием автоматизированных систем, за исключением случаев, когда неавтоматизированная обработка персональных данных необходима в связи с исполнением требований законодательства.</p>
	<p>Компания обязуется не передавать полученные персональные данные третьим лицам, за исключением следующих случаев:</p>
	<p>По запросам уполномоченных органов государственной власти РФ только по основаниям и в порядке, установленным законодательством РФ
	Стратегическим партнерам, которые работают с Компанией для предоставления продуктов и услуг, или тем из них, которые помогают Компании реализовывать продукты и услуги потребителям. Мы предоставляем третьим лицам минимальный объем персональных данных, необходимый только для оказания требуемой услуги или проведения необходимой транзакции.
	Компания оставляет за собой право вносить изменения в одностороннем порядке в настоящие правила, при условии, что изменения не противоречат действующему законодательству РФ. Изменения условий настоящих правил вступают в силу после их публикации на Сайте.</p>
	</div>
</section>

