﻿@using System.Security.Claims
@using DreamPlace.Web.Beepbooking.Services.Route
@inject CustomLocalizer localizer

<!doctype html>
<html lang="en">
<head>
	<title></title>
	<meta charset="UTF-8" />
	<meta name="description" content="" />
	<meta name="keywords" content="" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />
	<link href="https://fonts.googleapis.com/css?family=Montserrat:300,400,400i,500,600,700|Open+Sans:300,400,400i,600,700|Oswald:200,300,400,500,600,700&amp;subset=cyrillic" rel="stylesheet">
	<link rel='stylesheet' href='/css/bootstrap.min.css' type='text/css' media='all'>
	<link rel='stylesheet' href='/css/style.css' type='text/css' media='all'>

	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.7.1/css/bootstrap-datepicker3.min.css" integrity="sha256-WgFzD1SACMRatATw58Fxd2xjHxwTdOqB48W5h+ZGLHA=" crossorigin="anonymous" />

	<script src="/js/jquery.min.js"></script>
	@*<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>*@
	<script src="/js/http.js"></script>
	<script src="/js/bootstrap.js"></script>

</head>
<body>
<!-- Google Tag Manager -->
<script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
})(window,document,'script','dataLayer','GTM-MVS6KNZ');</script>
<!-- End Google Tag Manager -->
<audio src="/audios/newmessage.mp3"></audio>
<div class="menu" style="background: transparent; top: -10px;">
	<div class="container">
		<div class="row">
			<div data-route='/Home/Index' class="col-md-2 col-sm-3 menu-logo col-xs-6">
				<img src="/img/logo.png" alt="">
				<h3>ATENA</h3>
				<h5>RENTCAR</h5>
			</div>
			<div class="col-md-4 col-md-offset-6 col-sm-6 text-right menu-buttons col-xs-12">
				@{
					<button data-route="/Orders/Create" class="blue">Создать заказ</button>
				@*<button class="blue"><a href="/Orders/Create">Создать заказ</a></button>*@
				}
				<a class="notifContainer" href="javascript:bells();">
					<img src="/img/hellsbells.png" alt="">
					@*<sub id="notif"></sub>*@

					<div class="notifications notif1">
						<h4>Оповещения</h4>
						<hr/>
						<div class="msg_notify">
							@*<h5>Вы получили сообщения:</h5>*@
							@*<img src="/img/someone.png"  class="circle-img mess-ava" alt="" />
					msg_notify<h3><img src="/img/new_msg.png" alt="" />Евгений Никитин<i>2 часа назад</i></h3>
					<h5><img src="/img/msg.png" alt="" />Депозит 10 000 рублей</h5>*@
						</div>
					</div>
				</a>
				<a>
					@await Component.InvokeAsync("UserAva")
					<sub></sub>
					@*<div class="notifications notif2">
				<button id="logOutBtn" class="black" data-route="/Account/Logout">Выход</button>
			</div>*@
				</a>
				<button id="logOutBtn" data-method="post" class="black logout" data-route="/Account/Logout">@localizer["Logout"]</button>
			</div>
		</div>
	</div>
</div>

<div class="menu_line">
	<div class="colored">
		<div class="container">
			<div class="row">
				<ul>
					<li class="cssFixes" id="one" data-route="/Orders/MyOrders">
						Мои заказы
						@*@Html.ActionLink("Мои заказы", "MyOrders", "Orders", null)*@
					</li>
					<li class="cssFixes" id="two" data-route="/MyProfile">
						Мой профиль
						@*@Html.ActionLink("Мой профиль", "MyProfile", "UserProfile")*@
					</li>
					<li class="cssFixes" id="three" data-route="/Orders/Index">
						Заказы клиентов
						@*@Html.ActionLink("Index", "Orders", null)*@
					</li>
					<li class="cssFixes" id="four" data-route="/Messages/Index">
						Сообщения
						@*@Html.ActionLink("Сообщения", "Index", "Messages", null)*@
					</li>
				</ul>
			</div>


		</div>
	</div>
</div>
<script>
	function bells() {

		setTimeout(function() {
				if (!$('.notif1').hasClass('active')) {
					$('.msg_notify').html('');
				}
			},
			1000);

		$('.notif1').toggleClass('active');

		$.ajax({
			url: '/api/Notifications',
			type: "DELETE",
			async: true,
			success: function(data) {
				var count = parseInt($('#notif').html());

				if (count != undefined) {
					var finalCount = count - data.removeCount;

					if (finalCount === 0) {
						$('#notif').remove();
					}
					$('#notif').text(finalCount);
				};
			},
			error: function(jqXHR, textStatus, errorThrown) {
				alert('Ошибка, не удалось очистить оповещения.');
				console.log(textStatus);
				console.log(jqXHR);

			}
		});
	}

	function bells2() {
		$('.notif2').toggleClass('active');
	}
</script>

<script src="~/Scripts/jquery-3.2.1.min.js"></script>
<script src="~/Scripts/jquery.signalR-2.2.2.js"></script>
@*<script src="~/signalr/hubs"></script>*@
<script src="~/signalr/hubs"></script>


@RenderBody()

<script>
	$("div.col-md-4").on('click',
		'button.blue',
		function() {
			var route = $(this).data('route');
			post(route, undefined, 'GET');
		});
	$("div.row").on('click',
		'div.col-md-2.col-sm-3.menu-logo',
		function() {
			var route = $(this).data('route');
			post(route, undefined, 'GET');
		});

		$("div.row").on('click',
		'button.blue',
		function() {
			var route = $(this).data('route');
			post(route, undefined, 'GET');
		});

	$("div.notif2").on('click',
		'button.black',
		function() {
			var route = $(this).data('route');
			post(route, undefined, 'POST');
		});

	$(document).ready(function() {

		$.ajax({
			url: '/api/Notifications',
			type: "GET",
			async: false,
			success: function(data) {
				if (data > 0) {
					$('.notifContainer').append('<sub id="notif">' + data + '</sub>');
				}
			}
		});

		var data = sessionStorage.getItem('bebebookingcomSelectedMenuElement');
		if (data !== undefined) {
			$('#' + data).attr('style', 'border-bottom:2px solid #000');
		}
	});

	$("ul").on('click',
		'li',
		function(event) {

			var thisElem = $(event.target);
			var id = thisElem.attr('id');
			sessionStorage.setItem('bebebookingcomSelectedMenuElement', id);

			$(this).data('route');
			post(thisElem.data('route'));

		});

	$(function() {
		var chat = $.connection.onlineHub;

		//var chatMess = $.connection.messageHub;
		//// Объявление функции, которая хаб вызывает при получении сообщений
		//chatMess.client.newMessage = function(mess, conversationId, type) {
		//	if (type === 3) {
		//		AddMessageAsImage(mess, conversationId, 'to');
		//		AddLastMessageToConversation("[Image]", conversationId);

		//	}
		//	else if (type === 2) {
		//		Agreed(conversationId);
		//		AddLastMessageToConversation(mess, conversationId);
		//	}
		//	else{
		//		AddMessageToChat(mess, conversationId, 'to', false);
		//		AddLastMessageToConversation(mess, conversationId);

		//	}
		//};


		//chatMess.client.adgree = function (conversationId) {
		//	Agreed(conversationId);
		//};

		//chatMess.client.orderCompleted = function (conversationId) {
		//	document.getElementById('buttons_' + conversationId).innerHTML = '';
		//};

		//// Открываем соединение
		//$.connection.hub.start().done(function () {


		//});

		chat.client.addNotification = function(count, userName, message) {

//<h3><img src="/img/new_msg.png" alt="" />Евгений Никитин<i>2 часа назад</i></h3>
//					<h5><img src="/img/msg.png" alt="" />Депозит 10 000 рублей</h5>
			if (isNaN(parseInt($('#notif').html()))) {
				$('#notif').remove();
				$('.notifContainer').append('<sub id="notif">' + count + '</sub>');
			}

			if (!isNaN(count)) {

				if (count > 0) {
					$('#notif').text(count);
				}
			}

			$('.msg_notify').append(
				'<h3><img src="/img/new_msg.png" alt="" />' +
				userName +
				'<i></i></h3>' +
				'<h5><img src="/img/msg.png" alt="" />' +
				message +
				'</h5>'
			);

			$('audio').trigger('play');
		};

		chat.client.clearNotification = function(count) {
			$('.notifContainer').append('<sub id="notif">' + count + '</sub>');
		};

		chat.client.online = function(userId) {
			if ($('#nameContainer_' + userId).find('img').length === 0)
				$('#nameContainer_' + userId).prepend('<img src="img/new_msg.png" alt=""/>');
		};
		// Открываем соединение
		$.connection.hub.start().done(function() {


		});
	});

</script>



<script>
	$("div.col-md-4.col-md-offset-6").on('click',
		'button.black.logout',
		function() {
			var route = $(this).data('route');
			post(route, undefined, 'POST');
		});
</script>
@*@Html.PartialAsync();*@

@*<script type="text/javascript">
$(function () {
	$('#datestart, #dateend').datepicker({
		format: 'dd/mm/yyyy',
		language: 'ru'
	});
});
$('input').change(function(){
	var datestart = parseInt($('#datestart input').val());
	var dateend = parseInt($('#dateend input').val());
	var dayslays = dateend - datestart;
	if(!dayslays || dayslays<0){$('#date input').val('');}
	else{
	$('#date input').val(dayslays+' дней');
	}
});
</script>*@

<section id="footer">
	<div class="container">
		<div class="row" style="margin: 0 -30px;">
			<div class="col-md-4 col-sm-6">
				<a href="/Сonfidence/Index">@localizer["PoliticConfedicialnFooterText"]</a>
			</div>

<div class="languages col-md-2 col-sm-3 col-sm-offset-3 col-md-offset-6 text-center dropup">
					<h6 type="button" data-toggle="dropdown">@localizer["LanguageTextFooter"]: <span>РУССКИЙ</span><span class="caret" style="color:#d7d7d7;top: -3px; left: 5px;"></span></h6>
					<ul class="dropdown-menu dropup">
						<li class="selected"><a data-lg="ru" href="#">РУССКИЙ</a></li>
						<li><a data-lg="en" href="#">ENGLISH</a></li>
					</ul>
				</div>
		</div>
		<div class="row" style="margin: 30px -30px;">
			<div class="col-md-4">
				<h5>© @DateTime.Now.Year <span>Athena</span> - Все права защищены.</h5>
			</div>
			<div class="col-md-2 col-md-offset-6 text-center">
				<div class="social">
					<div><img src="/img/fb.png" alt=""></div>
					<div><img src="/img/vk.png" alt=""></div>
					<div><img src="/img/insta.png" alt=""></div>
				</div>
			</div>
		</div>
	</div>
</section>

<script>
	$("div.languages").on('click', 'a',
		function (event) {
			var lg = $(this).data('lg');

			post('/Language/SetLanguage', {culture: lg, returnUrl:"@($"{Context.Request.Path}")"});
		});

	$("div.row").on('click', 'div.col-md-2.col-sm-3.menu-logo',
		function () {
			var route = $(this).data('route');
			post(route, undefined, 'GET');
		});
</script>

<style>
	.cssFixes {
		cursor: pointer;
	}
</style>
</body>
</html>