﻿@using DreamPlace.Web.Beepbooking.Services.Route
@inject CustomLocalizer localizer

<!doctype html>
<html lang="en">
<head>
	<meta charset="UTF-8" />
	<meta name="description" content="" />
	<meta name="keywords" content="" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />
	<link href="https://fonts.googleapis.com/css?family=Montserrat:300,400,400i,500,600,700|Open+Sans:300,400,400i,600,700|Oswald:200,300,400,500,600,700&amp;subset=cyrillic" rel="stylesheet">
	<link rel='stylesheet' href='/css/bootstrap.min.css' type='text/css' media='all'>
	<link rel='stylesheet' href='/css/style.css' type='text/css' media='all'>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<script src="/js/http.js"></script>

</head>
<body>
<!-- Google Tag Manager -->
<script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
})(window,document,'script','dataLayer','GTM-MVS6KNZ');</script>
<!-- End Google Tag Manager -->
<script>
	window.fbAsyncInit = function() {
		FB.init({
			appId      : '137272616935165',
			cookie     : true,
			xfbml      : true,
			version    : '2.11'
		});
      
		FB.AppEvents.logPageView();   
      
	};

	(function(d, s, id){
		var js, fjs = d.getElementsByTagName(s)[0];
		if (d.getElementById(id)) {return;}
		js = d.createElement(s); js.id = id;
		js.src = "https://connect.facebook.net/en_US/sdk.js";
		fjs.parentNode.insertBefore(js, fjs);
	}(document, 'script', 'facebook-jssdk'));
</script>

	<div class="menu">
		<div class="container">
			<div class="row">
				<div data-route='/Home/Index'  class="col-md-2 col-sm-3 menu-logo col-xs-6">
					<img src="/img/logo.png" alt="">
					<h3>ATENA</h3>
					<h5>RENTCAR</h5>
				</div>
				@*<div class="col-md-2 col-sm-3 menu-rent  col-xs-6">
					<img src="/img/car_mini.png" alt="">
					<h4>СДАТЬ СВОЁ АВТО</h4>
				</div>*@
				<div class="col-md-4 col-md-offset-4 col-sm-6 text-right menu-buttons col-xs-12">

					@if (!User.Identity.IsAuthenticated)
					{
						<button id="InBtn" class="white" data-route="/Account/Login">
							@localizer["SignIn"]
						</button>
						<button id="SignInBtn" class="black" data-route="/Account/Register">
							@localizer["SignUp"]
						</button>
					}
					else
					{
						<button id="personalAreaBtn" class="white" data-route="/Orders/Index">
							@localizer["MyCabinet"]
						</button>
						<button id="logOutBtn" data-method="post" class="black" data-route="/Account/Logout">@localizer["Logout"]</button>
					}
					@*<a href="javascript:void(0);">Вход</a>
						<button class="black"><a href="javascript:void(0);">Регистрация</a></button>*@
				</div>
			</div>
		</div>
	</div>

	@RenderBody()

<script>
	$( "button" ).click(
	//$("div").on('click', 'button',
	function () {
		var route = $(this).data('route');
		var method = $(this).data('method');
		if (method === undefined) {
			method = "GET";
		}

		post(route, undefined, method);
	});
</script>

<section id="footer">
		<div class="container">
			<div class="row" style="margin:0 -30px;">
				<div class="col-md-4 col-sm-6">
					<a href="/Сonfidence/Index">@localizer["PoliticConfedicialnFooterText"]</a>
				</div>

				<div class="languages col-md-2 col-sm-3 col-sm-offset-3 col-md-offset-6 text-center dropup">
					<h6 type="button" data-toggle="dropdown">@localizer["LanguageTextFooter"]: <span>РУССКИЙ</span><span class="caret" style="color:#d7d7d7;top: -3px; left: 5px;"></span></h6>
					<ul class="dropdown-menu dropup">
						<li class="selected"><a data-lg="ru" href="#">РУССКИЙ</a></li>
						<li><a data-lg="en" href="#">ENGLISH</a></li>
					</ul>
				</div>
			</div>
			<div class="row" style="margin:30px -30px;">
				<div class="col-md-4">
					<h5>© @DateTime.Now.Year <span>Athena</span> - @localizer["AllRightsTextFooter"].</h5>
				</div>
				<div class="col-md-2 col-md-offset-6 text-center">
					<div class="social">
						<div><img src="/img/fb.png" alt=""></div>
						<div><img src="/img/vk.png" alt=""></div>
						<div><img src="/img/insta.png" alt=""></div>
					</div>
				</div>
			</div>
		</div>
	</section>
	<script>
		$("div.languages").on('click', 'a',
			function (event) {
				var lg = $(this).data('lg');

				post('/Language/SetLanguage', {culture: lg, returnUrl:@($"{Context.Request.Path}")});
			});

		$("div.row").on('click', 'div.col-md-2.col-sm-3.menu-logo',
			function () {
				var route = $(this).data('route');
				post(route, undefined, 'GET');
			});
	</script>
</body>
</html>