﻿@model DreamPlace.Web.Beepbooking.Models.Message

@{
    ViewData["Title"] = "Edit";
    Layout = "~/Views/Shared/_AuthedLayout.cshtml";
}

<h2>Edit</h2>

<h4>Message</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="FromId" class="control-label"></label>
                <select asp-for="FromId" class="form-control" asp-items="ViewBag.FromId"></select>
                <span asp-validation-for="FromId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ToId" class="control-label"></label>
                <select asp-for="ToId" class="form-control" asp-items="ViewBag.ToId"></select>
                <span asp-validation-for="ToId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Subject" class="control-label"></label>
                <input asp-for="Subject" class="form-control" />
                <span asp-validation-for="Subject" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TextMessage" class="control-label"></label>
                <input asp-for="TextMessage" class="form-control" />
                <span asp-validation-for="TextMessage" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Attachment" class="control-label"></label>
                <input asp-for="Attachment" class="form-control" />
                <span asp-validation-for="Attachment" class="text-danger"></span>
            </div>
            <div class="form-group">
                <div class="checkbox">
                    <label>
                        <input asp-for="IsRead" /> @Html.DisplayNameFor(model => model.IsRead)
                    </label>
                </div>
            </div>
            <div class="form-group">
                <label asp-for="CreateTime" class="control-label"></label>
                <input asp-for="CreateTime" class="form-control" />
                <span asp-validation-for="CreateTime" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ReadTime" class="control-label"></label>
                <input asp-for="ReadTime" class="form-control" />
                <span asp-validation-for="ReadTime" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
