﻿@using System.Security.Claims
@using DreamPlace.Web.Beepbooking.Extensions
@model IEnumerable<Conversation>

@{
	ViewData["Title"] = "Index";
	Layout = "~/Views/Shared/_AuthedLayout.cshtml";
}

<section id="msg" tabindex='1'>
	<div class="container">
		<div id="messageApp" class="row">
			<div class="col-sm-5 npd msglist">
				<div class="msg_head">
					<h4>Сообщения</h4>
				</div>
				<div style="margin-top: 15px;">

					@{
						string activeMode = "active";
						foreach (var conversation in Model)
						{
							<div data-cid="@conversation.Id" id="conversation_@conversation.Id" class="msg_list @activeMode" data-msg-list="@conversation.Id">
								
								@if (string.IsNullOrEmpty(conversation.Interlocutor.ProfilePhotoUrl))
								{
									<img id="Interlocutor_@conversation.Id" class="middle-ava circle-img" src="/native/img/anyone.jpg" alt=""/>
								}
								else
								{
									<img id="Interlocutor_@conversation.Id" class="middle-ava circle-img" src="@conversation.Interlocutor.ProfilePhotoUrl" alt=""/>
								}

								<h3 id="nameContainer_@conversation.Interlocutor.Id">
									@if (conversation.InterlocutorIsOnline)
									{
										<img src="/img/new_msg.png" alt="" />
									}

									@conversation.Interlocutor<i id="conversationLastTime_@conversation.Id">@conversation.LastMessageDate.ToString("dd.MM.yy HH:mm")</i>

									@{
										var countMessages = @conversation.Notifications.Count(el => el.Type == NotificationTypes.Message);
										if (countMessages > 0)
										{
											<sub id='msgsCount_@conversation.Id'>@countMessages</sub>
										}
									}
								</h3>
								@if (conversation.Order.Status == OrderStatus.Success)
								{
									<h5 style="color: #78d5f8" id="conversationLastMsg_@conversation.Id">
										<img src="/img/msg.png" alt="" />
										Подтвержденный заказ
									</h5>
								}
								else
								{
									<h5 id="conversationLastMsg_@conversation.Id">
										<img src="/img/msg.png" alt="" />
										@conversation.LastMessage
									</h5>

								}
							</div>

							activeMode = "";
						}
					}

				</div>
			</div>

			<div class="col-sm-7 npd msgfull">
				<img src="/img/button_msg.png" alt="" class="msg_trigger" />
				<script>
					$('.msg_trigger').click(function () {
						$('.msglist').toggleClass('active');
					})
				</script>
				@{
					activeMode = "active";
					foreach (var conversation in Model)
					{
						<div id="conversationStack_@conversation.Id" data-msg="@conversation.Id">
							<div class="msg_head">
								@if (string.IsNullOrEmpty(conversation.Interlocutor.ProfilePhotoUrl))
								{
									<img id="Interlocutor_@conversation.Id" data-route="/profile/@conversation.Interlocutor.UserName.Translit().Replace(' ', '-')" class="middle-ava circle-img" src="/native/img/anyone.jpg" alt=""/>
								}
								else
								{
									<img id="Interlocutor_@conversation.Id" data-route="/profile/@conversation.Interlocutor.UserName.Translit().Replace(' ', '-')" class="middle-ava circle-img" src="@conversation.Interlocutor.ProfilePhotoUrl" alt=""/>
								}

								<div class="agreedContainer col-lg-10 col-md-8 npd">
									@*@if (conversation.Order.Status == OrderStatus.InProgress)
									{
										<button id="reject_@conversation.Id" data-cid="@conversation.Id" class="reject white"><a href="#">Отказ</a></button>
										<button id="agreed_@conversation.Id" data-cid="@conversation.Id" class="agreed white"><a href="#">Мы договорились</a></button>
									}*@
									<h3 style="cursor:pointer" data-route="/profile/@conversation.Interlocutor.UserName.Translit().Replace(' ', '-')">
										@conversation.Interlocutor
									</h3>
									@*<h5>Компания: Rent Phuket Car</h5>*@
								</div>
								@*<div class="agreedContainer col-sm-5 npd">
									<div style="height: 50px;"></div>*@

								@*</div>*@
							</div>
							<div style="clear: both;"></div>
							<div id="msg_history_@conversation.Id" class="agreedContainer msg_history" style="margin-top: 15px;">


								@*<div class="accept_block text-center">
										<h4>Пользователь утверждает, что вы договорились</h4>
										<button class="white"><a href="#">Мы договорились</a></button>
										<button class="white"><a href="#">Продолжить диалог</a></button>
										<h4>Поздравляю! Скоро у вас появится рейтинг!</h4>
									</div>*@
							</div>

							<input name="from" type="hidden" id="from_@conversation.Id" value="@User.Claims.FirstOrDefault(user => user.Type == ClaimTypes.NameIdentifier)?.Value" />
							<input name="to" type="hidden" id="to_@conversation.Id" value="@conversation.Interlocutor.Id" />

							@*@if (conversation.Order.Status == OrderStatus.InProgress)*@
								<div class="msg_inputs" id="buttons_@conversation.Id">
									<input id="files" type="file" name="files" style="display: none;" />
									<input name="conversation" type="hidden" id="conversation" value="@conversation.Id" />
									<input name="from" type="hidden" id="from" value="@User.Claims.FirstOrDefault(user => user.Type == ClaimTypes.NameIdentifier)?.Value" />
									<input name="to" type="hidden" id="to" value="@conversation.Interlocutor.Id" />
									<p class="waiter" id="wait_@conversation.Id" +>Wait...</p>
									<textarea id="message_@conversation.Id" data-cid="@conversation.Id" style="resize: none;" name="message" type="text" class="input_msg" placeholder="Напишите сообщение..."></textarea>
									<input id="send_msg_@conversation.Id" data-cid="@conversation.Id" type="submit" class="send_msg" value="Отправить">
								<output id="list_@conversation.Id"></output>
								@*<input name="fileData_@conversation.Id" type="hidden" id="fileData"/>*@
							<div id="clear_@conversation.Id" data-msg="@conversation.Id" style="clear: both;"></div>
							<button id="chooseFileButton_@conversation.Id" data-msg="@conversation.Id" class="chooseFile" data-cid="@conversation.Id" id="chooseFile_@conversation.Id">
								<img src="/img/attach.png" alt=""/>
							</button>
								</div>
						</div>

			
						activeMode="";
					}

				}
			</div>
		</div>
		<div style="clear: both;"></div>
	</div>
</section>

<div class="modalx modal_delete_search">
	<h4>Удалить свой запрос на поиски транспорта</h4>
	<div class="modal_form">
		<h5><b>Напишите пожалуйста, почему вы удаляете заказ?</b></h5>
		<textarea placeholder="Я понял(а), что автомобиль мне не по карману..."></textarea>
		<div style="clear:both;"></div>
		<button><img src="img/attach.png" alt="" /></button>
		@*<button><img src="img/emoji.png" alt="" /></button>*@
	</div>
	<button class="white"><a href="javascript:modal_drop();">Отмена</a></button>
	<button class="blue"><a href="javascript:modal_drop();">Отправить</a></button>
</div>

<script>
	function modal_call(type){
		var height = $('.'+type).height();
		$('.'+type).attr('style', 'margin-top:-'+height/2+'px');
		$('.overlay, .'+type).addClass('active');
	}
</script>

<script src="~/signalr/hubs"></script>

<script>

	function Agreed(conversationId) {
		var msg = '<div id="makeOrderSuccess_' + conversationId + '" class="makeOrderSuccess accept_block text-center">'
			+ '<h4>Пользователь утверждает, что вы договорились</h4>'
			+ '<button class="orderSuccess white" data-cid="' + conversationId + '"><a href="#">Мы договорились</a></button>'
			+ '<button class="white continueConversation" data-cid="' + conversationId + '"><a href="#">Продолжить диалог</a></button>'
			+ '<h4>Поздравляю! Скоро у вас появится рейтинг!</h4>'
			+ '</div>';
		AddMessageWithoutCloud(msg, conversationId);
	}

	$(function () {
		var chat = $.connection.messageHub;
		// Объявление функции, которая хаб вызывает при получении сообщений
		chat.client.newMessage = function (mess, conversationId, type) {
			if (type === 3) {
				AddMessageAsImage(mess, conversationId, 'to');
				AddLastMessageToConversation("[Image]", conversationId);

			}
			else if (type === 2) {
				Agreed(conversationId);
				AddLastMessageToConversation(mess, conversationId);
			}
			else {
				AddMessageToChat(mess, conversationId, 'to', false);
				AddLastMessageToConversation(mess, conversationId);

			}
		};

		chat.client.adgree = function (conversationId) {
			Agreed(conversationId);
		};

		chat.client.orderCompleted = function (conversationId) {
			document.getElementById('buttons_' + conversationId).innerHTML = '';
		};

		// Открываем соединение
		$.connection.hub.start().done(function () {


		});
	});

</script>


<script>
	function modal_call(type) {
		var height = $('.' + type).height();
		$('.' + type).attr('style', 'margin-top:-' + height / 2 + 'px');
		$('.overlay, .' + type).addClass('active');
	}
	function modal_drop() {
		$('.modalx').attr('style', 'margin-top:-1000px');
		$('.overlay, .modalx').removeClass('active');
	}
	$('.overlay').click(function () { modal_drop(); });
</script>

<script>
	$('[data-msg-list]').click(function () {
		var list_id = $(this).attr('data-msg-list');
		$('[data-msg-list],[data-msg]').removeClass('active');
		$('[data-msg-list=' + list_id + '],[data-msg=' + list_id + ']').addClass('active');
	});

	$('.msg_history').scrollTop($('.msg_history')[0].scrollHeight);
	document.getElementById('msg').focus();
</script>

<script>
	$("textarea").keydown(function (e) {
		if (e.keyCode == 13 && !e.shiftKey) {
			e.preventDefault();
		}
	});

	$(document).ready(function () {
		$('div.msg_list.active').trigger('click');

		$('.waiter').hide();
	});

	var GetMsgHistory = function (conversation) {
		var chatStack = $('div[data-msg="' + conversation + '"]');
		return chatStack.find('.msg_history');
	};

	var AddLastMessageToConversation = function (message, conversation) {
		$('#conversationLastMsg_' + conversation).text(message);
		$('#conversationLastTime_' + conversation).text("Только что");
	};

	var AddMessageWithoutCloud = function (message, conversation) {
		var msgHistory = GetMsgHistory(conversation);
		msgHistory.append(message);
	};

	var AddMessageAsImage = function (message, conversation, direction) {
		//var msgHistory = GetMsgHistory(conversation);
		var imageMsg = '<img style="max-width:250px" src="' + message + '"/>';
		AddMessageToChat(imageMsg, conversation, direction);
	};


	var AddMessageToChat = function (message, conversation, direction) {
		var msgHistory = $('#msg_history_'+conversation);
		var lastMsg = msgHistory.children().last();

		var imgOfMsg;
		if (direction === 'to') {
			imgOfMsg = $('#Interlocutor_' + conversation).attr('src');
		} else {
			imgOfMsg =  $('#header-ava').attr('src');
		}

		if (lastMsg.hasClass(direction + '_me')) {
			lastMsg.append('<div>' + message + '</div>');
			lastMsg.find('img.mess-ava').attr('src', imgOfMsg);
		} else {
			msgHistory.append(
				'<div class="msgs ' +
				direction +
				'_me">' +
				'<img src="' + imgOfMsg + '" class="mess-ava circle-img"/>' +
				'<div>' +
				message +
				'</div>' +
				'</div>'
			);
		}

		Scroll($('#msg_history_' + conversation));
	}

	var Scroll = function (block) {
		block.scrollTop(block.prop('scrollHeight'));
		//block.scrollTop = block.scrollHeight;
	}

	var GetMessages = function (conversationId) {
		var result;
		$.ajax({
			url: '/api/Messages',
			type: "GET",
			data: { conversation: conversationId },
			async: false,
			success: function (data) {
				result = data;
			}//,
			//beforeSend: function (xhr) {
			//	var token = window.localStorage.getItem("OtliAccessToken");
			//	xhr.setRequestHeader("Authorization", "Bearer " + token);
			//},
			//error: function (jqXHR, textStatus, errorThrown) {
			//	alert('Ошибка, возможно ваше сообщение не доставленно получателю, пожалуйста, свяжитесь с администрацией');
			//	console.log(textStatus);
			//	console.log(jqXHR);

			//}
		});

		return result;
	};
</script>


<script>

	function transliterate(word){
		var answer = ""
			, a = {};

		a["Ё"]="YO";a["Й"]="I";a["Ц"]="TS";a["У"]="U";a["К"]="K";a["Е"]="E";a["Н"]="N";a["Г"]="G";a["Ш"]="SH";a["Щ"]="SCH";a["З"]="Z";a["Х"]="H";a["Ъ"]="'";
		a["ё"]="yo";a["й"]="i";a["ц"]="ts";a["у"]="u";a["к"]="k";a["е"]="e";a["н"]="n";a["г"]="g";a["ш"]="sh";a["щ"]="sch";a["з"]="z";a["х"]="h";a["ъ"]="'";
		a["Ф"]="F";a["Ы"]="I";a["В"]="V";a["А"]="a";a["П"]="P";a["Р"]="R";a["О"]="O";a["Л"]="L";a["Д"]="D";a["Ж"]="ZH";a["Э"]="E";
		a["ф"]="f";a["ы"]="i";a["в"]="v";a["а"]="a";a["п"]="p";a["р"]="r";a["о"]="o";a["л"]="l";a["д"]="d";a["ж"]="zh";a["э"]="e";
		a["Я"]="Ya";a["Ч"]="CH";a["С"]="S";a["М"]="M";a["И"]="I";a["Т"]="T";a["Ь"]="'";a["Б"]="B";a["Ю"]="YU";
		a["я"] = "ya"; a["ч"] = "ch"; a["с"] = "s"; a["м"] = "m"; a["и"] = "i"; a["т"] = "t"; a["ь"] = "'"; a["б"] = "b"; a["ю"] = "yu";
		a[" "] = "_"; a["("] = "_"; a[")"] = "_";

		for (i in word){
			if (word.hasOwnProperty(i)) {
				if (a[word[i]] === undefined){
					answer += word[i];
				} else {
					answer += a[word[i]];
				}
			}
		}
		return answer;
	}

	$('.msg_list').click(function () {
		var cid = $(this).attr('data-cid');

		$.ajax({
			url: '/api/Notification',
			type: "DELETE",
			data: {
				conversationId: cid
			},
			async: true,
			success: function (data) {
				var count = parseInt($('#notif').html());

				if (count != undefined) {
					var finalCount = count - data.removeCount;

					if (finalCount === 0) {
						$('#notif').remove();
					}
					$('#msgsCount_'+cid).remove();
					$('#notif').text(finalCount);
				}
			},
			error: function(jqXHR, textStatus, errorThrown) {
				alert('Ошибка, отметить сообщения как прочитанные.');
				console.log(textStatus);
				console.log(jqXHR);

			}
		});
	});

	$('.chooseFile').click(function() {
		function addPreview(to, data, fileName) {

			if (data === undefined || data === null || data === "")
				data = '/native/img/anyone.jpg';

			fileName = transliterate(fileName);
			var span = document.createElement('span');
			span.innerHTML = [
				'<img style="max-width:100px" src="', data,
				'" title="', escape(fileName), '"/>'
			].join('');
			document.getElementById(to).innerHTML = '';
			document.getElementById(to).insertBefore(span, null);
		}

		if (window.File && window.FileReader && window.FileList && window.Blob) {
			// Great success! All the File APIs are supported.
		} else {
			alert('Ваш браузер устарел и не поддерживает выбор файлов.');
		}

		var id = $(this).attr('id').split('_')[1];

		function handleFileSelect(evt) {
			var files = evt.target.files; // FileList object

			for (var i = 0, f; f = files[i]; i++) {
				if (!f.type.match('image.*')) {
					continue;
				}


				var reader = new FileReader();

				reader.onload = (function(theFile) {
					return function(e) {
						addPreview('list_' + id, e.target.result, theFile.name);
					};
				})(f);
				reader.readAsDataURL(f);
			}
		}

		document.getElementById('files').addEventListener('change', handleFileSelect, false);

		$('#files').trigger('click');

	});

	$("div.agreedContainer").on('click',
		'button.reject',
		function() {
			var cid = $(this).attr('data-cid');

			if (confirm('Вы уверены, что хотите отказаться от сделки?')) {
				$.ajax({
					url: '/api/Orders/RejectByConversation',
					type: "POST",
					data: {
						conversationId: cid
					},
					async: true,
					success: function() {
						//$('#clear_' + cid).detach();
						//$('#chooseFileButton_' + cid).detach();
						//$('#emojiButton_' + cid).detach();
						//$('#list_' + cid).detach();
						//$('#conversationStack_' + cid).detach();
						//$('#conversation_' + cid).detach();
						$('#reject_' + cid).detach();
						$('#agreed_' + cid).detach();
					},
					error: function(jqXHR, textStatus, errorThrown) {
						alert('Ошибка, не удалось удалить переписку.');
						console.log(textStatus);
						console.log(jqXHR);

					}
				});
			}

		});



	$("div.agreedContainer").on('click', //Кнопка - мы договорились.
		'button.agreed',
		function() {
			var cid = $(this).attr('data-cid');
			var from = $('#from_' + cid).val();
			var to = $('#to_' + cid).val();

			$.ajax({
				url: '/api/ToRequestOrderAgreed',
				type: "POST",
				data: {
					conversation: cid,
					from: from,
					to: to
				},
				async: true,
				success: function(data) {
					AddMessageToChat(data.message, cid, 'from');
					AddLastMessageToConversation(data.message, cid);
				},
				error: function(jqXHR, textStatus, errorThrown) {
					alert('Ошибка, не удалось отправить подтверждение');
					console.log(textStatus);
					console.log(jqXHR);

				}
			});
		});



	$("div.agreedContainer").on('click',
		'button.orderSuccess',
		function() {
			var cid = $(this).attr('data-cid');
			var from = $('#from_' + cid).val();
			var to = $('#to_' + cid).val();

			$.ajax({
				url: '/api/MakeOrderSuccess',
				type: "POST",
				data: {
					conversation: cid,
					from: from,
					to: to
				},
				async: true,
				success: function () {
					$('#makeOrderSuccess_' + cid).hide();
					$('#agreed_' + cid).hide();
					$('#reject_' + cid).hide();
					$('#buttons_' + cid).hide();

					AddLastMessageToConversation("Подтвержденный заказ");
					$('#conversationLastMsg_' + conversation).attr('style', 'color:#78d5f8');

					alert('Ваша сделка успешно подтверждена.');
				},
				error: function(jqXHR, textStatus, errorThrown) {
					alert('Ошибка, не удалось отправить подтверждение');
					console.log(textStatus);
					console.log(jqXHR);

				}
			});
		});

	$("div.agreedContainer").on('click',
		'button.continueConversation',
		function() {
			var cid = $(this).attr('data-cid');
			var from = $('#from_' + cid).val();
			var to = $('#to_' + cid).val();

			$.ajax({
				url: '/api/CancelSuccess',
				type: "POST",
				data: {
					conversation: cid,
					from: from,
					to: to
				},
				async: true,
				success: function () {
					$('#makeOrderSuccess_' + cid).remove();
				},
				error: function(jqXHR, textStatus, errorThrown) {
					alert('Ошибка, не удалось отменить подтверждение');
					console.log(textStatus);
					console.log(jqXHR);

				}
			});
		});

	function SendMsg(ths) {
		var parent = ths.parent().parent();
		var conversationId = parent.find('#conversation').val();

		var imgData;
		var imgList = $('#list_' + conversationId);

		if (imgList.children().length === 1) {
			imgData = imgList.find('img')[0].src;
			var fileName = imgList.find('img')[0].title;


			$('#send_msg_'+conversationId).val('Отправляется');
			$.ajax({
				url: '/api/Messages',
				type: "POST",
				data: {
					conversation: conversationId,
					message: imgData,
					fileName: fileName,
					contentType: 'Image',
					from: parent.find('#from').val(),
					to: parent.find('#to').val()
				},
				async: true,
				success: function (data) {
					$('#send_msg_'+conversationId).val('Отправить');


					var textBoxWithMess = ths.prev();
					var isImage = data.type === 3;

					if (isImage) {
						AddMessageAsImage(data.message, conversationId, 'from');
						AddLastMessageToConversation("[Image]", conversationId);
					} else {
						AddMessageToChat(data.message, conversationId, 'from');
						AddLastMessageToConversation(data.message, conversationId);
					}

					textBoxWithMess.val('');
					document.getElementById(imgList.attr('id')).innerHTML = '';
				},
				//beforeSend: function (xhr) {
				//	var token = window.localStorage.getItem("OtliAccessToken");
				//	xhr.setRequestHeader("Authorization", "Bearer " + token);
				//},
				error: function (jqXHR, textStatus, errorThrown) {
					$('#send_msg_'+conversationId).val('Отправить');


					alert('Ошибка, возможно ваше сообщение не доставленно получателю, пожалуйста, свяжитесь с администрацией');
					console.log(textStatus);
					console.log(jqXHR);

				}
			});
		} else {

			var msgData = {
				conversation: conversationId,
				message: parent.find('#message_'+conversationId).val(),
				contentType: "Text",
				from: parent.find('#from').val(),
				to: parent.find('#to').val()
			};
			$('#send_msg_' + conversationId).val('Отправляется');

			$.ajax({
				url: '/api/Messages',
				type: "POST",
				data: msgData,
				async: true,
				success: function () {
					$('#send_msg_' + conversationId).val('Отправить');

					var textBoxWithMess = ths.prev();
					AddMessageToChat(ths.val(), conversationId, 'from', false);
					AddLastMessageToConversation(ths.val(), conversationId);

					ths.val('');
				},
				//beforeSend: function (xhr) {
				//	var token = window.localStorage.getItem("OtliAccessToken");
				//	xhr.setRequestHeader("Authorization", "Bearer " + token);
				//},
				error: function (jqXHR, textStatus, errorThrown) {
					$('#send_msg_' + conversationId).val('Отправить');

					alert('Ошибка, возможно ваше сообщение не доставленно получателю, пожалуйста, свяжитесь с администрацией');
					console.log(textStatus);
					console.log(jqXHR);

				}
			});
		}
	}

	$('.send_msg').click(function(e) {
		SendMsg($('#message_'+e.target.dataset["cid"]));
	});

	$("textarea").keydown(function(e) {
		if (e.keyCode == 13 && !e.shiftKey) {
			SendMsg($('#'+e.target.id));
		}
	});

	$('[data-msg-list]').click(function() {
		var list_id = $(this).attr('data-msg-list');
		$('[data-msg-list],[data-msg]').removeClass('active');
		$('[data-msg-list=' + list_id + '],[data-msg=' + list_id + ']').addClass('active');

		var cid =$(this).attr('data-cid');
		var chatStack = $('#msg_history_' + cid);

		if (chatStack === undefined || chatStack.contents().length === 1) {
			var messages = GetMessages(list_id);
			var currentId = '@User.Claims.FirstOrDefault(user => user.Type == ClaimTypes.NameIdentifier)?.Value';

			if (messages === undefined)
				return;

			for (var i = 0; i < messages.length; i++) {
				var direction;
				if (currentId === messages[i].fromId) {
					direction = 'from';
				} else {
					direction = 'to';
				}

				var text = messages[i].textMessage;

				if (messages[i].fileType === "Image") {
					AddMessageAsImage(text, messages[i].conversationId, direction);
				}
				else if (direction === 'to' && messages[i].messageType === 0 && messages[i].conversationStatus !== 3) {
					Agreed(messages[i].conversationId);
				}
				else
				{
					AddMessageToChat(text, messages[i].conversationId, direction);
				}
			}
		}
	});
</script>
<script>
			$("div.msg_head").on('click',
		'h3',
		function() {
			var route = $(this).data('route');
			post(route, undefined, 'GET');
		});
						$("div.msg_head").on('click',
		'img',
		function() {
			var route = $(this).data('route');
			post(route, undefined, 'GET');
		});
</script>

<style>
	@@media(min-width:1100px){
	.msglist{position: fixed;right:58%; max-height: 65%;padding:100px 0 0 !important; overflow-y: auto; max-width:500px; z-index:3;}
	.msglist .msg_head{width:500px;}
	.msgfull{position: fixed; left:42%; padding:100px 0 100px !important;    max-height: 65%; overflow-y: auto; max-width:780px;}
	.msg_head{position:fixed; width:760px;top: 130px; background:#fff; z-index:2;}
	#footer{position:fixed; padding-top:10px; bottom:-25px; left:0; right:0; background:#fff;}
	.msg_inputs {
		margin-left: -2px;
		position:fixed; z-index:3; width:764px; background: #fff; bottom:100px; padding:0 15px;
		box-shadow:4px -4px 10px -9px #000000;
		box-shadow:4px -4px 10px -9px rgba(0,0,0,1);
	}

		.msg_inputs button{background:#fff; margin:0 0 0 10px;}
	
	}
	</style>

<style>
	@@media(min-width:1100px) {
		.msglist {
			position: fixed;
			right: 58%;
			max-height: 65%;
			padding: 100px 0 0 !important;
			overflow-y: auto;
			max-width: 500px;
		}

		.msgfull {
			position: fixed;
			left: 42%;
			padding: 100px 0 0 !important;
			max-height: 65%;
			overflow-y: auto;
			max-width: 780px;
		}

		.msg_head {
			position: fixed;
			width: 760px;
			top: 130px;
			background: #fff;
			z-index: 2;
		}

		#footer {
			position: fixed;
			padding-top: 10px;
			bottom: -25px;
			left: 0;
			right: 0;
			background: #fff;
		}
	}
</style> 