﻿@using DreamPlace.Web.Beepbooking.Services.Route
@inject CustomLocalizer localizer
@{
	ViewData["Title"] = "Home Page";
	Layout = "_Layout";
}

<!doctype html>

<section id="top">
	<div class="container">
		<div class="row">
			<h1>@Html.Raw(@localizer["HomeGetAutoText"])</h1>
			<h2>@localizer["Already"]</h2>
			<div class="col-md-6 npd">
				@*<input type="text" placeholder="Пхукет"/>*@
				
				@if (!User.Identity.IsAuthenticated)
				{
					<button data-route='/Account/Register' class="gray">
						<h4>@localizer["FindAutoButton"]</h4>
					</button>
				}
				else
				{
					<button data-route='/Orders/Create' class="gray">
						<h4>@localizer["FindAutoButton"]</h4>
					</button>
				}

				<script>
		$("div.col-md-6").on('click', 'button.gray',
			function () {
				var route = $(this).data('route');
				post(route, undefined, 'GET');
			});
				</script>
				@*<img src="img/search.png" alt="">*@
				<h5>@localizer["Already"]</h5>
			</div>
		</div>
	</div>
</section>