﻿@{
    ViewData["Title"] = "Home Page";
	Layout = null;
}

<!doctype html>
<html lang="en">
<head>
	<title></title>
	<meta charset="UTF-8" />
	<meta name="description" content="" />
	<meta name="keywords" content="" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />
	<link href="https://fonts.googleapis.com/css?family=Montserrat:300,400,400i,500,600,700|Open+Sans:300,400,400i,600,700|Oswald:200,300,400,500,600,700&amp;subset=cyrillic" rel="stylesheet">
	<link rel='stylesheet' href='css/bootstrap.min.css' type='text/css' media='all'>
	<link rel='stylesheet' href='css/style.css' type='text/css' media='all'>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>



<div class="menu">
<div class="container">
<div class="row">
	<div class="col-md-2 col-sm-3 menu-logo col-xs-6">
		<img src="img/logo.png" alt="">
		<h3>ATENA</h3>
		<h5>RENTCAR</h5>
	</div>
	<div class="col-md-2 col-sm-3 menu-rent  col-xs-6">
		<img src="img/car_mini.png" alt="">
		<h4>СДАТЬ СВОЁ АВТО</h4>
	</div>
	<div class="col-md-4 col-md-offset-4 col-sm-6 text-right menu-buttons col-xs-12">
	
	@if (!User.Identity.IsAuthenticated)
	{
		<a class="white" href="/Account/Login">Вход</a>
		<a class="black" href="/Account/Register">Регистрация</a>
	}
	else
	{
		<p>@User.Identity.Name</p>
		<form asp-area="" asp-controller="Account" asp-action="Logout" method="post" id="logoutForm">
			<button type="submit" class="btn btn-link navbar-btn navbar-link">Log out</button>
		</form>
	}
	</div>
</div>
</div>
</div>

<section id="top">
<div class="container">
<div class="row">
	<h1>Арендуйте себе<br />автомобиль</h1>
	<h2>Потратье 2 минути и получите <br />лучшее предложение среди автовладельцев</h2>
	<button class="black">
		<img src="img/search.png" alt="">
		<h4><a href="javascript:void(0);">НАЙТИ АВТОМОБИЛЬ</a></h4>
	</button>
	<h5>уже 1,765 автовладельцев готовы сдать свой автомобиль</h5>
</div>
</div>
</section>



<section id="footer">
<div class="container">
<div class="row" style="margin:0 -30px;">
	<div class="col-md-3 col-sm-5">
		<a href="javascript:void(0);">ПОЛИТИКА КОНФИДЕНЦИАЛЬНОСТИ</a>
	</div>
	<div class="col-sm-1">
		<a href="#">FAQ</a>
	</div>
	<div class="col-md-2 col-sm-3 col-sm-offset-3 col-md-offset-6 text-center dropup">
		<h6 type="button" data-toggle="dropdown">ЯЗЫК: <span>РУССКИЙ</span><span class="caret" style="color:#d7d7d7;top: -3px; left: 5px;"></span></h6>
		<ul class="dropdown-menu dropup">
			<li class="selected"><a href="#">РУССКИЙ</a></li>
			<li><a href="#">ENGLISH</a></li>
		</ul>
	</div>
</div>
<div class="row" style="margin:30px -30px;">
	<div class="col-md-4">
		<h5>© 2017 <span>BebeBooking</span> - Все права защищены.</h5>
	</div>
	<div class="col-md-2 col-md-offset-6 text-center">
		<div class="social">
			<div><img src="img/fb.png" alt=""></div>
			<div><img src="img/vk.png" alt=""></div>
			<div><img src="img/insta.png" alt=""></div>
		</div>
	</div>
</div>
</div>
</section>



</body>
</html>